.s-content
    position: relative
    background-color: #ffffff
    color: #333333
    padding-bottom: 80px
        
.content__title 
    font-family: ProximaNovaSemibold, sans-serif
    font-size: 24px
    text-align: left
    margin: 80px 0 50px 0

.content__title_main
    font-size: 36px
    text-align: center

.content__text 
    font-family: ProximaNovaLight, sans-serif
    font-size: 18px
    text-align: justify
    font-weight: 600

.content__text_main 
    font-size: 18px
    font-weight: 400

.content__text_first-offset 
    padding-top: 70px

.back-to-top
    cursor: pointer
    position: fixed
    right: 15px
    bottom: -45px
    display: block 
    width: 44px
    height: 44px
    background-color: #d9d9d9
    border-radius: 50%  
    transition: bottom .25s ease 
    &:before        
        position: absolute
        display: block
        top: 18px
        right: 16px
        width: 10px
        height: 10px
        transform: rotate(-135deg)
        border-bottom: 3px solid #fff
        border-right: 3px solid #fff
        content: ""

.back-to-top_visible
    bottom: 25px
    transition: bottom .25s ease 

.back-to-top_pinned
    position: absolute
    bottom: 25px
