<!doctype html>
<html class="no-js" lang="en">
    <head>
        {{> head/head head.main }}
    </head>

    <body>
        %=symbols=%

        {{> MainPage/MainPage }}

        {{> endFile/endFile }}

    </body>
</html>