<!DOCTYPE html>
<html lang="en">
<head>
    {{> head/head head.main }}
</head>
<body>

    {{> heading/heading heading.license }}

    {{> content/content content.license }}

    {{> footer/footer }}

    {{> endFile/endFile }}

</body>
</html>