.s-land-content
	background-color: #fff
	padding-top: 45px

.land-content__icon
	fill: rgba(51, 51, 51, 0.5)
	display: block
	position: relative
	width: 32px
	height: 32px
	margin-right: 20px
	transition: all .2s ease-out

.land-content__icon_active
	fill: #1F9951

.land-content__icon_big
	fill: #1F9951
	width: 64px
	height: 64px

.land-content__wrapper
	width: 100%
	margin: auto
	display: flex
	align-items: center
	justify-content: flex-start
	overflow: hidden

.land-content__left-side
	position: relative
	height: 70%
	width: 25%
	display: flex
	align-items: center
	justify-content: center
	
.land-left-side__item
	padding-top: 10px
	padding-bottom: 10px
	display: flex
	line-height: 34px
	color: rgba(#333, .5)
	font-weight: 500
	cursor: pointer
	transition: all .2s ease-out
	&:hover
		color: rgba(#333, 1)
		transition: all .2s ease-out
	&:hover > .icon
		fill: #333

.land-left-side__item_active
	color: rgba(#333, 1)
	&:hover > .icon
		fill: #e74c3c

.land-content__border
	position: absolute
	right: 5px
	height: 100%
	width: 1px
	background-color: rgba(#333, .2)

.land-content__border_line 
	width: 5px
	height: 54px
	background-color: #1f9951
	margin-left: -2px
	margin-top: 0
	transition: all .4s ease-in-out

.land-content__right-side
	position: relative
	height: 300px
	width: 75%
	overflow: hidden

.land-right-side__item 
	position: absolute
	height: 300px
	width: 100%
	transition: all .5s ease-in-out
	margin-top: -350px
	opacity: 0
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column

.land-right-side__item_active
	margin-top: 0
	opacity: 1
	transition: all .6s ease-in-out

.land-right-side__title
	font-weight: 800
	color: #333

.land-right-side__description
	text-align: center
	width: 75%
	color: #333
	font-weight: 500
	padding-left: 30px
	padding-right: 30px
	line-height: 150%