// Common styles of the project

.l-wrap-thin {
    max-width: 665px;
    padding: 30px 20px;
    margin: 0 auto;
}

.l-wrap-normal {
    max-width: 850px;
    padding: 0 15px;
    margin: 0 auto;
}

.l-wrap-wide {
    max-width: 1024px;
    padding: 20px 10px;
    margin: 0 auto;
}

.u-flex {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

html, body {
    height: 100%;
}

.page {
    
}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}