@font-face {
    font-family: ProximaNova;
    src: local('Proxima Nova Regular'),
    url('../fonts/Proximanova/proximanova-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ProximaNovaBold;
    src: local('Proxima Nova Bold'), url('../fonts/Proximanova/proximanova-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: ProximaNovaLight;
    src: local('Proxima Nova Light'), url('../fonts/Proximanova/proximanova-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: ProximaNovaExtrabold;
    src: local('Proxima Nova Extrabold'), url('../fonts/Proximanova/proximanova-extrabld.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: ProximaNovaSemibold;
    src: local('Proxima Nova Semibold'), url('../fonts/Proximanova/proximanova-semibold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: ProximaNovaThin;
    src: local('Proxima Nova Thin'), url('../fonts/Proximanova/ProximaNovaT-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}