/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700');
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Remove margin
 */
figure {
  margin: 0;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* Blockquote
   ========================================================================== */
blockquote {
  margin: 0;
}
/* Your custom fonts here */
/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
@CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/
html {
  font-family: 'Roboto', sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
.b-btn {
  color: #fff;
  background-color: #0d47a1;
  border-radius: 60px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  height: 60px;
  border: 0 none;
  padding: 20px 50px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  background-image: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.b-btn:disabled {
  opacity: 0.5;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background: #fff;
  font-family: 'Roboto', sans-serif;
}
main,
section,
header,
footer,
aside {
  display: block;
  width: 100%;
}
.u-clear-after:after {
  display: block;
  content: '';
  clear: both;
}
@media screen and (max-width: 768px) {
  .u-mobile-hide {
    display: none !important;
  }
}
.u-flex-stretch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.u-flex-centered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.u-relative {
  position: relative;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  color: #0d47a1;
  font-size: 72px;
  line-height: 1.45;
  text-align: center;
  margin: 19px 0;
  font-weight: 300;
}
@media (max-width: 1051px) and (min-width: 769px){
  h1 {
    font-size: 67px;
  }
  .s-hero__desc {
    padding-bottom: 40px;
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 42px;
  }
}
h2 {
  font-size: 28px;
  line-height: 1.45;
  margin: 25px 0 20px;
  color: #000;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
}
h3 {
  font-weight: 900;
  font-size: 15px;
  line-height: 19px;
  margin: 0 0 6px;
}
ul {
  padding-left: 20px;
}
a {
  text-decoration: none;
  color: #ff8562;
}
textarea {
  resize: vertical;
}
/**
 * layouts
 */
.l-body {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 768px) {
  .l-body {
    overflow-x: hidden;
  }
}
.l-wrap-wide {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.l-wrap-thin {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
::-moz-selection {
  background: rgba(28, 153, 230, 0.41) /* Safari, Chrome, Opera */;
}
::selection {
  background: rgba(28, 153, 230, 0.41) /* Safari, Chrome, Opera */;
}
::-moz-selection {
  background: rgba(28, 153, 230, 0.41) /* FireFox */;
}
.b-section__title {
  font-size: 52px;
  color: #1c3e96;
  text-align: center;
  font-weight: 300;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.b-changelog__item {
  padding: 23px 8% 0;
  position: relative;
  line-height: 1.2;
  overflow: hidden;
}
.b-changelog__item:first-of-type {
  padding-top: 0;
}
@media screen and (max-width: 768px) {
  .b-changelog__item {
    padding: 23px 20px 0;
  }
}
.b-changelog__item:not(:last-of-type):after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  margin-top: 29px;
}
@media screen and (max-width: 768px) {
  .b-changelog__item:not(:last-of-type):after {
    margin-top: 20px;
  }
}
.b-changelog__item--active:not(:nth-of-type(n+4)) {
  background: #e9effe;
  position: relative;
}
.b-changelog__item--active:not(:nth-of-type(n+4)):before {
  content: '';
  display: block;
  background-image: url(../img/png-sprite/96dpi/spritek4nza7wl5flpinyu8fr.png);
  background-position: -48px 0px;
  width: 15px;
  height: 15px;
  background-size: 63px, 39px;
  background-repeat: no-repeat;
  position: absolute;
  top: 33px;
  left: 3.53130016%;
}
@media screen and (max-width: 768px) {
  .b-changelog__item--active:not(:nth-of-type(n+4)):before {
    left: 3px;
    top: 25px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .b-changelog__item--active:not(:nth-of-type(n+4)):before {
    top: 27px;
  }
}
.b-changelog__item-title {
  font-size: 16px;
  margin-bottom: 14px;
  font-weight: 500;
}
.b-changelog__item-date {
  font-size: 12px;
  color: #989898;
  margin-bottom: 29px;
}
@media screen and (max-width: 768px) {
  .b-changelog__item-date {
    margin-bottom: 20px;
  }
}
.s-comments {
  text-align: center;
  min-height: 740px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .s-comments {
    min-height: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
  }
}
.s-comments__header {
  margin-bottom: 56px;
}
@media screen and (max-width: 768px) {
  .s-comments__header {
    margin-bottom: 20px;
  }
}
.has-success .s-comments__header-step1 {
  display: none;
}
.s-comments__header-thanks {
  display: none;
}
.has-success .s-comments__header-thanks {
  display: block;
}
.s-comments__title {
  margin-bottom: 25px;
}
.s-comments__main {
  margin-bottom: 65px;
}
@media screen and (max-width: 768px) {
  .s-comments__main {
    margin-bottom: 20px;
  }
}
.has-success .s-comments__main {
  display: none;
}
.s-comments__textarea {
  width: 98%;
  max-width: 840px;
  padding: 25px 20px 30px 72px;
  background: url('../img/assets/comments/comments.png') left 23px top 23px no-repeat;
  font-size: 16px;
  color: #545454;
  line-height: 1.2;
  border-color: #c2c2c2;
}
@media screen and (max-width: 768px) {
  .s-comments__textarea {
    padding: 10px 10px 10px 40px;
    background-position: 5px 10px;
  }
}
.has-success .s-comments__footer {
  display: none;
}
.s-content {
  font-size: 20px;
  line-height: 1.55;
  padding: 130px 0 40px;
}
.s-manual-title a {
  color: #0d47a1;
}
.s-content img {
  max-width: 100%;
  margin: 30px 0 20px;
}
.s-content__clause {
  padding-left: 22px;
  position: relative;
}
.s-content__clause-number {
  position: absolute;
  top: 0;
  left: 0;
}
.s-content__list {
  list-style: disc;
}
.s-content__list--empty {
  list-style: none;
}
.s-content__offset {
  margin-left: 20px;
}
.s-content__note {
  color: #8e8e8e;
  font-size: 16px;
  padding-bottom: 40px;
}
.s-content__note:before {
  content: url('../img/assets/content/manual/note_icon.png?v20170522');
  margin-right: 10px;
}
.s-content__link {
  color: #4c67ac;
  position: relative;
}
.s-content__link:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px dotted;
}
.b-diary-dev__item {
  margin-bottom: 15px;
  padding: 23px 8% 0;
  line-height: 1.2;
}
.b-diary-dev__item:first-of-type {
  padding-top: 0;
}
@media screen and (max-width: 768px) {
  .b-diary-dev__item {
    padding: 23px 20px 0;
  }
}
.b-diary-dev__item:not(:last-of-type):after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  margin-top: 42px;
}
.b-diary-dev__item-img {
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}
.b-diary-dev__item-text {
  font-size: 16px;
  line-height: 1.1;
  margin-bottom: 16px;
}
.b-diary-dev__item-date {
  font-size: 12px;
  color: #989898;
  margin-bottom: 29px;
}
.s-footer {
  background-color: #000000;
  color: #fff;
  min-height: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 30px;
  font-size: 14px;
  line-height: 1.35;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .s-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.s-footer a {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .s-footer a {
    display: block;
  }
}
.s-footer__content {
  padding: 0 30px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .s-footer__content {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}
.s-footer__content-link {
  cursor: pointer;
  margin: 0 20px 14px 20px;
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 50px);
}
@media screen and (max-width: 768px) {
  .s-footer__content-link {
    width: 100%;
    margin: 0 0 14px 0;
  }
}
.s-footer__copyright {
  white-space: nowrap;
  margin-bottom: 20px;
}
.s-footer__to-top {
  white-space: nowrap;
  margin-bottom: 20px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .s-footer__to-top {
    margin-top: 15px;
  }
}
.s-footer__to-top svg {
  position: relative;
  margin-left: 12px;
}
.s-footer__copyright {
  max-width: 300px;
}
.s-footer__copyright hr {
  border: none;
  background: #fff;
  height: 2px;
}
.s-footer__copyright-image {
  max-width: 50px;
}
.s-footer__copyright-mail {
  white-space: normal;
  font-weight: 400;
}
.s-footer__copyright-mail a {
  color: #ff8562;
}
.s-footer__copyright-text a {
  display: inline !important;
}
.b-err404 {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  text-align: center;
  color: white;
  background-color: #0d47a1;
}
.b-err404__title {
  margin-top: 10%;
  font-size: 20vh;
  -webkit-box-flex: 30%;
  -webkit-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}
.b-err404__subtitle {
  font-size: 5vh;
  -webkit-box-flex: 25%;
  -webkit-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}
.b-err404__link {
  font-size: 5vh;
  -webkit-box-flex: 25%;
  -webkit-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}
.s-frame__container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #0d47a1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-frame__container:before {
  content: url("../img/assets/modalFrame/shadow.png");
  bottom: 0;
  height: 34px;
  position: absolute;
  max-width: 100%;
  overflow: hidden;
}
.s-frame__container:after {
  content: '';
  left: 0;
  bottom: -34px;
  background-color: #fff;
  height: 34px;
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.s-frame__title {
  color: #fff;
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .s-frame__title {
    font-size: 28px;
    margin-bottom: 35px;
  }
}
.s-frame__player {
  display: none;
}
@media screen and (max-width: 1023px) {
  .s-frame__player {
    display: block;
  }
}
.s-frame__modal {
  position: relative;
  margin: 0 5px 0 5px;
  cursor: pointer;
  vertical-align: bottom;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}
.s-frame__modal:hover {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
@media screen and (max-width: 1023px) {
  .s-frame__modal {
    display: none;
  }
}
.s-frame__modal-link img {
  width: 100%;
  vertical-align: bottom;
}
.s-frame__frame-wrapper {
  padding-top: 56.25%;
  position: relative;
}
.s-frame__frame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.l-header {
  position: absolute;
  left: 0;
  top: 8px;
  z-index: 1;
  width: 100%;
}
.l-header__wrap-wide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .l-header__wrap-wide {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.l-header__menu {
  margin-right: 14px;
}
.l-header__languages {
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .l-header__languages {
    text-align: right;
    margin-left: auto;
  }
}
.b-header-menu {
  font-size: 14px;
}
.b-header-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.b-header-menu__item {
  display: inline-block;
  padding-right: 20px;
  padding-left: 23px;
  position: relative;
}
.b-header-menu__item + .b-header-menu__item:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 12px;
  width: 0;
  border-left: 1px double #bebebe;
}
@media screen and (max-width: 768px) {
  .b-header-menu__item + .b-header-menu__item:before {
    display: none;
  }
}
.b-header-menu__link {
  color: #828282;
  cursor: pointer;
  -webkit-transition: color 0.05s;
  transition: color 0.05s;
}
.b-header-menu__link:hover {
  color: #0d47a1;
}
.b-header-menu__link-icon {
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  .b-header-menu__link-icon {
    display: none;
  }
}
.b-languages__item {
  display: inline-block;
  vertical-align: top;
}
.b-languages__item img {
  vertical-align: bottom;
}
.b-languages__item--active {
  cursor: default;
}
.s-hero {
  text-align: center;
  height: 900px;
  height: 100vh;
  background: url("../img/general/back4.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
@media screen and (max-width: 768px) {
  .s-hero {
    height: auto;
    padding: 50px 20px 20px;
  }
}
.s-hero__logo img {
  max-width: 200px;
}
.s-hero__desc {
  padding-bottom: 46px;
  font-size: 20px;
  line-height: 20px;
  color: #57afe5;
}
.s-hero__go-next {
  display: block;
  width: 40px;
  height: 20px;
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -20px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  -webkit-animation: t-arrow-bottom 1.7s infinite ease;
          animation: t-arrow-bottom 1.7s infinite ease;
}
@media screen and (max-width: 768px) {
  .s-hero__go-next {
    bottom: 13px;
  }
}
.s-hero__controls {
  padding-bottom: 40px;
}
.s-hero__controls .b-btn {
  padding: 20px 60px;
}
@-webkit-keyframes t-arrow-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  55% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes t-arrow-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  55% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.s-hero-inner__header {
  min-height: 450px;
  height: 450px;
  text-align: center;
  padding-top: 34px;
  background: #fafafa url("../img/general/back4.jpg") top center;
  background-size: contain;
  background-attachment: fixed;
}
@media screen and (max-width: 768px) {
  .s-hero-inner__header {
    height: auto;
    padding: 50px 20px 20px;
  }
}
.s-hero-inner__desc {
  font-size: 24px;
  line-height: 1.5;
  margin-top: 10px;
}
.s-hero-inner__subdesc {
  margin: 0;
  font-size: 16px;
}
.s-hero-title a {
  color: #0d47a1;
}
.b-icon {
  display: inline-block;
}
.b-icon--email {
  background: url('../img/assets/icon/icon-email.png') center center no-repeat;
  width: 28px;
  height: 17px;
}
.b-index-about {
  padding-top: 55px;
  padding-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .b-index-about {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.b-index-about * {
  outline: none;
}
.b-index-about img {
  max-width: 100%;
}
.b-index-about__container {
  width: 98%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
.b-index-about__title {
  margin-bottom: 115px;
}
@media screen and (max-width: 768px) {
  .b-index-about__title {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
}
.b-index-about__content {
  position: relative;
}
.b-index-about__list {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1600px;
}
.b-index-about__arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.b-index-about__arrow {
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.b-index-about__arrow:after {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: 0;
  right: 0;
}
.b-index-about__arrow--prev {
  left: 0;
  background-image: url(../img/png-sprite/96dpi/spritek4nza7wl5flpinyu8fr.png);
  background-position: 0px 0px;
  width: 20px;
  height: 39px;
  background-size: 63px, 39px;
  background-repeat: no-repeat;
}
.b-index-about__arrow--prev:after {
  right: -20px;
}
.b-index-about__arrow--next {
  right: 0;
  background-image: url(../img/png-sprite/96dpi/spritek4nza7wl5flpinyu8fr.png);
  background-position: -24px 0px;
  width: 20px;
  height: 39px;
  background-size: 63px, 39px;
  background-repeat: no-repeat;
}
.b-index-about__arrow--next:after {
  left: -20px;
}
.b-index-about__item {
  text-align: center;
  max-width: 840px;
  padding-left: 27px;
  padding-right: 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.b-index-about__item.slick-slide {
  max-width: none;
}
.b-index-about__item-img-wrapper {
  margin: 0 0 65px;
}
.b-index-about__item-img {
  display: block;
}
@media screen and (max-width: 1023px) {
  .b-index-about__item-img {
    margin-left: auto;
    margin-right: auto;
  }
}
.b-index-about__item-title {
  margin-bottom: 3px;
  min-height: 80px;
}
@media screen and (max-width: 768px) {
  .b-index-about__item-title {
    min-height: 0;
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .b-index-about__item-title {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
  }
}
.b-index-about__item-text {
  margin-top: auto;
  min-height: 90px;
}
@media screen and (min-width: 1024px) {
  .b-index-about__item-text {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
  }
}
.b-index-columns {
  padding: 88px 0;
  background: #fafafa;
}
@media screen and (max-width: 768px) {
  .b-index-columns {
    padding: 40px 0;
  }
}
.b-index-columns__container {
  width: 99%;
  max-width: 1870px;
  margin-left: auto;
  margin-right: auto;
}
.b-index-columns__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.b-index-columns__list:before,
.b-index-columns__list:after {
  display: table;
  content: "";
}
.b-index-columns__list:after {
  clear: both;
}
.lt-ie8 .b-index-columns__list {
  zoom: 1;
}
@media screen and (max-width: 768px) {
  .b-index-columns__list {
    display: block;
  }
}
.b-index-columns__column {
  float: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 33.33333%;
      -ms-flex: 1 0 33.33333%;
          flex: 1 0 33.33333%;
}
.b-index-columns__column :nth-of-type(2) {
  max-height: 500px;
  overflow: auto;
  scrollbar-base-color: #ddd;
  scrollbar-track-color: #f1f1f1;
  scrollbar-highlight-color: #ddd;
  scrollbar-shadow-color: #ddd;
  scrollbar-arrow-color: #ddd;
}
.b-index-columns__column :nth-of-type(2)::-webkit-scrollbar {
  width: 5px;
}
.b-index-columns__column :nth-of-type(2)::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.b-index-columns__column :nth-of-type(2)::-webkit-scrollbar-thumb {
  background: #ddd;
}
@media screen and (max-width: 768px) {
  .b-index-columns__column {
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .b-index-columns__column {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media screen and (max-width: 1023px) {
  .b-index-columns__column--diary-dev {
    display: none;
  }
}
.b-index-columns__column-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  min-height: 100px;
  max-width: 520px;
  margin: 0 8%;
}
@media screen and (max-width: 768px) {
  .b-index-columns__column-header {
    max-width: 100%;
    margin: 0 20px;
  }
}
.b-index-columns__column-title {
  font-size: 26px;
  color: #0d47a1;
  font-weight: 500;
  line-height: 36px;
}
.b-index-columns__column-header-col {
  padding-left: 5px;
}
.b-index-columns__column-header-link {
  min-width: 8em;
  font-size: 14px;
  color: #57afe5;
  line-height: 16px;
  text-align: right;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.b-index-columns__column-header-link:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px dotted;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
.b-index-columns__column-header-link:hover:after {
  opacity: 1;
}
.b-manualMenu {
  width: 100%;
  height: 100px;
  position: relative;
}
.b-manualMenu__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #0d47a1;
  -webkit-transition: height ease 0.35s, background-color ease 0.35s;
  transition: height ease 0.35s, background-color ease 0.35s;
}
@media screen and (max-width: 1023px) {
  .b-manualMenu__wrapper {
    background-color: white;
  }
}
.b-manualMenu--opened {
  height: 100px;
  background-color: #0d47a1;
  -webkit-transition: height ease 0.35s, background-color ease 0.35s;
  transition: height ease 0.35s, background-color ease 0.35s;
}
@media screen and (max-width: 1023px) {
  .b-manualMenu--opened {
    height: 100%;
  }
}
.b-manualMenu__list {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 3vh;
  color: white;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .b-manualMenu__list {
    display: block;
  }
}
.b-manualMenu__switcher {
  position: relative;
  width: 56px;
  height: 6px;
  top: 4px;
  background: #4047a1;
  border: none;
  border-radius: 4px;
  margin: 45px 0 30px 25px;
  display: none;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
}
.b-manualMenu__switcher:hover {
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .b-manualMenu__switcher {
    display: inline-block;
  }
}
.b-manualMenu__switcher:before {
  content: '';
  position: absolute;
  top: -10px;
  width: 56px;
  height: 6px;
  background: #4047a1;
  border: none;
  border-radius: 4px;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
}
.b-manualMenu__switcher:after {
  content: '';
  position: absolute;
  width: 56px;
  height: 6px;
  top: 10px;
  background: #4047a1;
  border: none;
  border-radius: 4px;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
}
.b-manualMenu__switcher--active {
  background: #fff;
}
.b-manualMenu__switcher--active:before {
  background: #fff;
}
.b-manualMenu__switcher--active:after {
  background: #fff;
}
.b-manualMenu-top {
  position: fixed;
  top: 0px;
  z-index: 1;
}
.b-manualMenu__container {
  max-width: 960px;
  height: 100px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1023px) {
  .b-manualMenu__container {
    display: none;
  }
}
.b-manualMenu__mobileContainer {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.b-manualMenu__mobileContainer--hidden {
  height: 100px;
  display: none;
}
.b-manualMenu__item {
  height: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px 1px 5px;
  position: relative;
}
.b-manualMenu__item:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
}
.b-manualMenu__item:after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  right: 6px;
  top: 0;
  bottom: 2px;
  margin: auto;
  background: #57afe5;
}
.b-manualMenu__item--active .b-manualMenu__item-link {
  color: #0d47a1;
  font-weight: bold;
}
.b-manualMenu__item--active:before {
  background-color: white;
}
.b-manualMenu__item:last-of-type {
  padding-right: 10px;
}
.b-manualMenu__item:last-of-type:before {
  width: calc(115%);
  left: -15px;
}
.b-manualMenu__item:last-of-type:after {
  right: auto;
  left: -10px;
  background: transparent;
}
.b-manualMenu__item--active:last-of-type:after {
  background: #57afe5;
}
.b-manualMenu__item--mobile {
  padding: 2.5vh 0;
}
.b-manualMenu__item-link {
  position: relative;
  color: white;
  font-size: 14px;
}
.b-manualMenu__item-link--mobile {
  font-weight: normal;
  color: white;
  font-size: 3vh;
}
.b-manualMenu__item-link--mobile :hover {
  background-color: #3a408f;
}
.b-modal {
  display: none;
}
.b-modal--subscription .b-modal__content {
  padding-bottom: 86px;
}
.b-modal--subscription .b-modal-form__main {
  margin-bottom: 80px;
}
.b-modal--subscription .b-btn {
  padding-left: 40px;
  padding-right: 40px;
}
.b-modal__wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.b-modal__content {
  width: calc(100% - 50px);
  max-width: 848px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 62px;
  padding-bottom: 80px;
  background: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .b-modal__content {
    width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    padding: 10px 20px;
  }
}
.b-modal__close {
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 100%;
  margin-left: 8px;
  margin-bottom: 3px;
  background: transparent;
  border: none;
}
@media screen and (max-width: 768px) {
  .b-modal__close {
    bottom: auto;
    left: auto;
    margin-left: 0;
    margin-bottom: 0;
    right: 10px;
    top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .b-modal__close svg path {
    fill: #000;
  }
}
.b-modal__form {
  margin-bottom: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.b-modal__form.has-loading {
  opacity: 0.3;
}
.b-modal__title {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .b-modal__title {
    font-size: 20px;
    margin: 10px;
  }
}
.b-modal__subtitle {
  text-align: center;
  margin-top: 26px;
}
@media screen and (max-width: 768px) {
  .b-modal__subtitle {
    margin-top: 10px;
  }
}
.b-modal__thanks {
  display: none;
}
.b-modal-form__main {
  width: 433px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  margin-bottom: 64px;
}
@media screen and (max-width: 768px) {
  .b-modal-form__main {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.b-modal-form__row + .b-modal-form__row {
  margin-top: 24px;
}
.b-modal-form__group-input {
  border: 1px solid #c2c2c2;
  width: 100%;
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.b-modal-form__input-group-addon {
  width: 66px;
  text-align: center;
  display: inline-block;
  line-height: 0;
}
.b-modal-form__field-text {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: #545454;
}
.b-modal-form__checkbox-group:after {
  content: '';
  display: table;
  clear: both;
}
.b-modal-form__checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.b-modal-form__checkbox-control {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}
.b-modal-form__checkbox-tick {
  width: 30px;
  height: 30px;
  border: 1px solid #c2c2c2;
  display: block;
  position: relative;
}
.b-modal-form__checkbox-tick:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 12px;
  height: 12px;
  background: #1c3e96;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.b-modal-form__checkbox-control:checked + .b-modal-form__checkbox-tick:before {
  opacity: 1;
}
.b-modal-form__checkbox-text {
  vertical-align: middle;
  display: inline-block;
  font-size: 16px;
  color: #545454;
  line-height: 1.2;
}
.b-modal-form__checkbox + .b-modal-form__checkbox-text {
  margin-left: 34px;
}
@media screen and (max-width: 768px) {
  .b-modal-form__checkbox + .b-modal-form__checkbox-text {
    margin-left: 10px;
    width: calc(100% - 40px);
    float: right;
  }
}
.b-modal-form__footer {
  text-align: center;
}
.b-modal__content--frame {
  position: relative;
  width: 1024px;
  padding: 0;
}
.b-plans__subtitle {
  font-size: 16px;
  color: #0d47a1;
  line-height: 1.125;
  font-weight: 500;
}
.b-plans__subtitle-link {
  color: inherit;
}
.b-plans__list {
  margin-bottom: 61px;
}
.b-plans__item {
  padding: 23px 8% 0;
  position: relative;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .b-plans__item {
    padding: 23px 20px 0;
  }
}
.b-plans__item:first-of-type {
  padding-top: 0;
}
.b-plans__item:not(:last-of-type):after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  margin-top: 24px;
}
@media screen and (max-width: 768px) {
  .b-plans__item:not(:last-of-type):after {
    margin-top: 20px;
  }
}
.b-plans__item-title {
  font-size: 16px;
  margin-bottom: 14px;
  font-weight: 500;
}
.b-plans__item-title p:first-child {
  margin-top: 0;
}
.b-plans__item-title p:last-child {
  margin-bottom: 0;
}
.b-plans__item-date {
  font-size: 12px;
  color: #989898;
  margin-bottom: 29px;
}
@media screen and (max-width: 768px) {
  .b-plans__item-date {
    margin-bottom: 20px;
  }
}
.b-plans__item-date--future {
  color: #ff0000;
}
.b-plans__comments {
  padding-left: 8%;
  padding-right: 8%;
}
@media screen and (max-width: 768px) {
  .b-plans__comments {
    display: none;
  }
}
.b-plans__comments-main {
  margin-top: 23px;
  margin-bottom: 19px;
}
.b-plans__comments-textarea {
  width: 100%;
  height: 117px;
  padding: 25px 20px 30px 72px;
  background: url('../img/assets/comments/comments.png') left 23px top 23px no-repeat;
  font-size: 16px;
  color: #545454;
  line-height: 1.2;
  border-color: #c2c2c2;
}
@media screen and (max-width: 768px) {
  .b-plans__comments-textarea {
    padding: 10px 10px 10px 40px;
    background-position: 5px 10px;
  }
}
