<section class="s-footer">
    <div class="s-footer__copyright">
        <div class="s-footer__copyright-mail">
            Send your questions, comments and suggestions by e-mail: <a class="s-footer__copyright-mail-address" href="mailto:info@pulsekit.com">info@pulsekit.com</a>
        </div>
    </div>
    <div class="s-footer__content">
        <!--'/manual.html '-->
        <a href='' class="s-footer__content-link">Manual</a> 
        <a href='/privacy.html' class="s-footer__content-link">Data Security and Privacy Statement</a>
        <a href='/license-agreement.html' class="s-footer__content-link">License Agreement</a>
    </div>
</section>