.s-footer 
    background-color: #000
    display: flex
    align-items: stretch
    justify-content: space-between
    padding: 40px 30px
    font-size: 14px
    line-height: 1.35
    font-weight: 400
    color: #fff

.s-footer__copyright 
    max-width: 300px
    font-family: ProximaNovaLight, sans-serif
    color: #fff

.s-footer__content 
    padding: 0 30px
    text-align: left

.s-footer__content-link 
    font-family: ProximaNovaSemibold, sans-serif
    cursor: pointer
    margin: 0 20px 14px 0
    display: inline-block
    vertical-align: top
    position: relative
    color: #fff
    text-decoration: none 
    &:not(:last-of-type)
        &:after
            content: ""
            display: block
            width: 5px
            height: 5px
            border-radius: 50%
            position: absolute
            right: -15px
            top: 0
            bottom: 2px
            margin: auto
            background: #5e5e5e
    &:before 
        content: ""
        display: block
        height: 1px
        width: 100%
        position: absolute
        left: 0
        bottom: 0
        margin: auto
        background: #5e5e5e

.s-footer__content-link--text 
    color: #fff

.s-footer__copyright-mail-address 
    color: #c5d1ff
    
@media screen and (max-width: 544px)
    .s-footer
        flex-direction: column
        align-items: center
    .s-footer__copyright
        text-align: center
        margin-bottom: 10px
    .s-footer__content
        text-align: center