<!DOCTYPE html>
<html lang="en">
<head>
    {{> head/head head.checklist }}
</head>
<body>

    {{> heading/heading heading.checklist_changelog }}

    {{> content/content content.checklist_changelog }}

    {{> footer/footer }}

    {{> endFile/endFile }}

</body>
</html>