<!DOCTYPE html>
<html lang="en">
<head>
    {{> head/head head.checklist }}
</head>
<body>
    
    {{> landing/heading/heading landing_heading.checklist }} 

    {{> landing/overview/overview landing_overview.ckecklist }}
    
    {{> landing/content/content landing_content.checklist }}

    {{> landing/suggestions/suggestions landing_suggestions.checklist }}

    {{> landing/footer/footer landing_footer.checklist }}

    {{> modalOverview/modalOverview }}

    {{> modalCommentsEmail/modalCommentsEmail modalCommentsEmail.checklist }}

    {{> modalFormSubscription/modalFormSubscription modalFormSubscription.checklist }}

    {{> endFile/endFile }}

</body>
</html>