<section class="s-land-footer {{backroundColorClass}}">
    <div class="s-land-footer__copyright">
        <div class="s-land-footer__copyright-mail">
            Send your questions, comments and suggestions by e-mail: <a class="s-land-footer__copyright-mail-address {{emailColorClass}}" href="mailto:info@pulsekit.com">info@pulsekit.com</a>
        </div>
    </div>
    <div class="s-land-footer__content">
        <a href='/privacy.html' class="s-land-footer__content-link">Data Security and Privacy Statement</a>
        <a href='/license-agreement.html' class="s-land-footer__content-link">License Agreement</a>
        <a class="s-land-footer__content-link s-land-footer__content-link-updates {{followColorClass}} js-open-modal" data-modal="#modal-subscription">Follow the updates</a>
    </div>
</section>