.s-land-footer 
    display: flex
    align-items: stretch
    justify-content: space-between
    padding: 40px 30px
    font-size: 14px
    line-height: 1.35
    font-weight: 400
    color: #fff

.s-land-footer__backgound_timesheet
    background-color: #000

.s-land-footer__backgound_checklist
    background-color: #23352c

.s-land-footer__backgound_badges
    background-color: #000

.s-land-footer__backgound_project
    background-color: #000

.s-land-footer__copyright 
    max-width: 300px
    font-family: ProximaNovaLight, sans-serif
    color: #fff

.s-land-footer__content 
    padding: 0 30px
    text-align: left

.s-land-footer__content-link:nth-of-type(1):after 
    cursor: default
    content: ""
    display: block
    width: 5px
    height: 5px
    border-radius: 50%
    position: absolute
    right: -15px
    top: 0
    bottom: 2px
    margin: auto
    background: #5e5e5e

.s-land-footer__content-link 
    font-family: ProximaNovaSemibold, sans-serif
    cursor: pointer
    margin: 0 20px 14px 0
    display: inline-block
    vertical-align: top
    position: relative
    color: #fff
    text-decoration: none
    &:hover
        &:before
            background: #fff

.s-land-footer__content-link:before 
    content: ""
    display: block
    height: 1px
    width: 100%
    position: absolute
    left: 0
    bottom: 0
    margin: auto
    background: #5e5e5e

.s-land-footer__copyright-mail-address-color_timesheet
    color: #fff

.s-land-footer__copyright-mail-address-color_checklist
    color: #34dc7a

.s-land-footer__copyright-mail-address-color_badges
    color: #fff

.s-land-footer__copyright-mail-address-color_project
    color: #fff

.s-land-footer__content-link-updates
    margin-left: 40px
    &:before 
        background: #2ea73f
    &:hover
        color: #56c456
        &:before
            background: #56c456

.s-land-footer__content-link-updates-color_timesheet
    color: #fff

.s-land-footer__content-link-updates-color_checklist
    color: #2ea73f

.s-land-footer__content-link-updates-color_badges
    color: #fff

.s-land-footer__content-link-updates-color_project
    color: #fff

@media screen and (max-width: 1012px)
    .s-land-footer
        flex-direction: column
        align-items: center
    .s-land-footer__copyright
        text-align: center
        margin-bottom: 27px
    .s-land-footer__content
        display: flex
        flex-direction: row
        align-items: baseline
        text-align: center
        padding: 0
        width: 100%
    .s-land-footer__content-link
        display: inline-table
        margin: 7px auto
    .s-land-footer__content-link:nth-of-type(1)
        margin-top: 27px
        &:after
            display: none
    
@media screen and (max-width: 720px)
    .s-land-footer
        flex-direction: column
        align-items: center
    .s-land-footer__content
        flex-direction: column

@media screen and (max-width: 480px)
    .s-land-footer
        padding: 40px 0 0
    .s-land-footer__content
        background-color: #000
        padding-bottom: 29px
    .s-land-footer__copyright
        margin-bottom: 54px
