<section class="s-suggestions">
    <div class="s-suggestions__title">
        <p class="s-suggestions__text">Are there any suggestions for the add-on? <a class="s-suggestions__link" href="mailto:info@pulsekit.com">Write to us!</a></p>
    </div>
</section>