.s-suggestions
    display: flex
    justify-content: center
    text-align: center
    height: 170px
    background: url(../img/content/suggestions_bg.png) no-repeat
    background-size: cover

.s-suggestions__title
    font-family: 'Proxima Nova Light', sans-serif
    font-size: 20px
    color: #fff

.s-suggestions__text
    margin-top: 70px

.s-suggestions__link
    color: #fff