.s-land-suggestions
    display: flex
    justify-content: center
    text-align: center
    background-size: cover

.s-land-suggestions-background_timesheet
    background-color: #fff

.s-land-suggestions-background_checklist
    background-color: #23352c

.s-land-suggestions-background_badges
    background-color: #fff

.s-land-suggestions-background_project
    background-color: #fff

.s-land-suggestions__content
    margin: 0
    width: 100%

.s-land-suggestions__title
    font-family: 'Proxima Nova Light', sans-serif
    font-size: 28px
    color: #fff

.s-land-suggestions__text
    margin-top: 50px
    margin-bottom: 50px

.s-land-suggestions__comments_main 
    position: relative
    width: 90%
    margin-bottom: 65px
    &::before
        content: ''
        position: absolute
        left: 65px
        top: -47px
        border: 19px solid transparent
        border-bottom: 49px solid #fff
    @media screen and (max-width: 768px)
        margin-bottom: 20px
    .has-success & 
        display: none

.s-comments__textarea 
    width: 98%
    max-width: 840px
    height: 132px
    padding: 25px 10px 30px 20px
    background-color: #fff
    font-size: 16px
    color: rgb(84, 84, 84)
    line-height: 1.2
    border-color: rgb(194, 194, 194)

.s-land-comments__footer_btn
    opacity: .9
    color: #fff
    border-radius: 13px
    font-size: 16px
    cursor: pointer
    height: 40px
    width: 210px
    border: 0 none
    white-space: nowrap
    display: inline-block
    user-select: none
    &:hover:enabled
        background-color: #3caa3c
        opacity: 1

.s-land-comments__footer_btn:disabled
    opacity: .6

.btn-color_timesheet
    background-color: #fff

.btn-color_checklist
    background-color: #2ea73f 

.btn-color_badges
    background-color: #fff

.btn-color_project
    background-color: #fff
    
.s-land-comments__footer 
    .has-success & 
        display: none

@media screen and (max-width: 768px)
    .s-comments__textarea
        padding: 10px
        background-position: 5px 10px
        width: 90%
    .s-land-suggestions__content
    	.s-land-suggestions__comments_main
        	&:before
                top: -40px
                border: 12px solid transparent
                border-bottom: 34px solid #fff

@media screen and (max-width: 420px)
    .s-land-suggestions__content
    	.s-land-suggestions__comments_main
        	&:before
                left: 20px
    .s-comments__textarea
        width: 85%
    .land-heading__version
        width: 88%
