<section class="s-land-suggestions {{backgroundColorClass}}" id="section-comments">
    <div class="s-land-suggestions__content l-wrap-wide u-flex">
        <div class="s-land-suggestions__title">
           <p class="s-land-suggestions__text">Still have questions?</p>
        </div>

        <div class="s-land-suggestions__comments_main">

            <textarea placeholder="Write to us! .." name="comments" id="" cols="30" rows="10" class="s-comments__textarea js-form-comments-textarea" v-model="comment"></textarea>

        </div>

        <div class="s-land-comments__footer">
            <button class="s-land-comments__footer_btn {{buttonColorClass}}" type="button" v-bind:disabled="!comment" v-on:click="sendComment">Send</button>
        </div>
    </div>
</section>
