@charset "UTF-8"

// Background

body 
    margin: 0
    padding: 0    
    background-color: #0c1a24

// Main page styles

.s-main-page-background__wrapper 
    height: 98vh
    min-height: 890px
    padding-bottom: 42px

.s-main-page-preorder__content-wrapper 
    width: 100%
    text-align: center
    margin-top: 51px


.s-main-page-descriptions 
    padding-top: 0
    padding-bottom: 60px

@keyframes scrollDown 
    0% 
        top: 12px
        opacity: 0
    15% 
        top: 10px
        opacity: 1

    30% 
        top: 10px
        opacity: 1
    45% 
        top: 28px
        opacity: 1
    100% 
        top: 28px
        opacity: 0
    
.scroll__down
    position: relative
    display: flex

.scroll__down_button 
    position: absolute
    top: 25px
    left: 50%
    opacity: 0.7
    bottom: 0
    display: inline-block
    width: auto
    margin: 0 auto
    text-align: center
    background-color: transparent
    border: none
    -webkit-transform: translate(-50%, -50%)
    -moz-transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    -o-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)

.scroll__mouse 
    position: relative
    display: inline-block
    width: 15px
    height: 30px
    margin: 0 auto
    border: 2px solid #fff
    border-radius: 20px

.scroll__wheel 
    margin-top: -6px
    position: absolute
    left: 6px
    width: 3px
    height: 3px
    background-color: #fff
    border-radius: 100%
    animation: scrollDown 2.5s infinite

.s-main-page-scroll-down-dude__wrapper
    display: none

@media screen and (min-width: 1231px)
    .container 
        width: 1000px
        margin: 0 auto
    
@media screen and (max-width: 1230px) and (min-width: 900px)
    @media screen and (max-height: 700px) 
        .scroll__down_button
            bottom: -10vh
    .container 
        width: 850px
        margin: 0 auto
    
    .s-main-page-background__wrapper 
        height: auto
        min-height: 560px
        padding-bottom: 42px
    
    .s-main-page-descriptions 
        padding-top: 80px
        padding-bottom: 50px
    
@media screen and (max-width: 899px) and (min-width: 481px)
    @media screen and (max-height: 700px) 
        .scroll__down_button
            bottom: -10vh

    .container 
        width: 90vw
        margin: 0 auto

    .scroll__down_button
        margin: 0 auto 35px

    .s-main-page-descriptions 
        padding-top: 60px
        padding-bottom: 80px

    .s-main-page-background__wrapper 
        height: auto
        min-height: 425px
        padding-bottom: 0
    
@media screen and (max-width: 480px) 
    .s-main-page-scroll-down-dude__wrapper 
        width: 100%
        display: block
        text-align: center
        padding-top: 25px

    .scroll-down-dude
        display: inline-block
        width: 120px
        height: 40px
        position: relative
        z-index: 20

    .scroll__down_button
        display: none
    
    .scroll-down-dude:before,
    .scroll-down-dude:after 
        content: ''
        display: block
        margin: 0 auto
        width: 12px
        height: 12px
        transform: rotate(45deg)
        border-bottom: 4px solid #fff
        border-right: 4px solid #fff
    
    .scroll-down-dude:before 
        animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite
    
    .scroll-down-dude:after 
        animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite
    
    @keyframes down-arrow-before 
        50% 
            transform: rotate(45deg) translate(70%, 70%)  
        100% 
            transform: rotate(45deg) translate(70%, 70%)
    
    @keyframes down-arrow-after 
        50% 
            transform: rotate(45deg) translate(110%, 110%)
            opacity: 0
        
        51% 
            transform: rotate(45deg) translate(-130%, -130%)
        
        100% 
            transform: rotate(45deg) translate(-70%, -70%)
            opacity: 1
        
    .s-main-page-preorder__content-wrapper 
        margin-top: 0
    

    .scroll__down_button
        margin: 65px auto 0
    
    .container 
        width: 83vw
        margin: 0 auto
    
    .s-main-page-descriptions 
        margin-top: -20px
        padding-top: 0
        padding-bottom: 30px

    .s-main-page-background__wrapper 
        height: auto
        min-height: 425px
        padding-bottom: 0
    
@media screen and (min-width: 1231px)
    .scroll__down_button
        top: -110px

@media screen and (min-width: 1025px) and (max-height: 661px)
    .s-main-page-background__wrapper
        height: 660px
    .scroll__down_button
        bottom: -30%

//Main page icons

.s-main-page-pluginLogo__content__box-shadow--time
    background: url('../img/content/mainpage/shadow1.png')
    opacity: 0
    width: 340px
    height: 140px
    margin-left: -25px
    margin-top: -75px
    position: absolute
    -webkit-transition: opacity 0.4s ease-in
    -moz-transition: opacity 0.4s ease-in
    -o-transition: opacity 0.4s ease-in
    transition: opacity 0.4s ease-in

.s-main-page-pluginLogo__content__box-shadow--checklist
    background: url('../img/content/mainpage/shadow2.png')
    opacity: 0
    width: 340px
    height: 140px
    margin-left: -25px
    margin-top: -75px
    position: absolute
    -webkit-transition: opacity 0.4s ease-in
    -moz-transition: opacity 0.4s ease-in
    -o-transition: opacity 0.4s ease-in
    transition: opacity 0.4s ease-in

.s-main-page-pluginLogo__content__box-shadow--badges
    background: url('../img/content/mainpage/shadow3.png')
    opacity: 0
    width: 340px
    height: 140px
    margin-left: -25px
    margin-top: -75px
    position: absolute
    -webkit-transition: opacity 0.4s ease-in
    -moz-transition: opacity 0.4s ease-in
    -o-transition: opacity 0.4s ease-in
    transition: opacity 0.4s ease-in

.s-main-page-pluginLogo__content__box-shadow--project 
    background: url('../img/content/mainpage/shadow4.png')
    opacity: 0
    width: 340px
    height: 140px
    margin-left: -25px
    margin-top: -75px
    position: absolute
    -webkit-transition: opacity 0.3s ease-in
    -moz-transition: opacity 0.3s ease-in
    -o-transition: opacity 0.3s ease-in
    transition: opacity 0.3s ease-in

.s-main-page-pluginLogo__content__box-shadow--active 
    opacity: 1
    -webkit-transition: opacity 0.3s ease-in
    -moz-transition: opacity 0.3s ease-in
    -o-transition: opacity 0.3s ease-in
    transition: opacity 0.3s ease-in

@media screen and (max-width: 1230px) and (min-width: 900px) 
    .s-main-page-pluginLogo__content__box-shadow--project 
        background-size: 100% 100%
        width: 250px
        margin-left: -15px
    
    .s-main-page-pluginLogo__content__box-shadow--badges
        background-size: 100% 100%
        width: 250px
        margin-left: -15px
    
    .s-main-page-pluginLogo__content__box-shadow--checklist
        background-size: 100% 100%
        width: 250px
        margin-left: -15px
    
    .s-main-page-pluginLogo__content__box-shadow--time
        background-size: 100% 100%
        width: 250px
        margin-left: -15px
    
// Buttons

button:active, button:focus 
    outline: none

button::-moz-focus-inner 
    border: 0

@keyframes ripple 
    0% 
        box-shadow: 0 0 0 0 rgba(255,255,255, 0.1),
        0 0 0 20px rgba(255,255,255, 0.1),
        0 0 0 40px rgba(255,255,255, 0.1),
        0 0 0 60px rgba(255,255,255, 0.1)
    100% 
        box-shadow: 0 0 0 20px rgba(255,255,255, 0.1),
        0 0 0 40px rgba(255,255,255, 0.1),
        0 0 0 60px rgba(255,255,255, 0.1),
        0 0 0 80px rgba(255,255,255, 0)

.s-main-page-preorder__button-wrapper 
    display: inline-block

.b-button 
    overflow: hidden
    transition: background-color 500ms, transform 100ms

.s-main-page-preorder__button-wrapper>.b-button 
    overflow: hidden !important
    min-width: 275px
    border-radius: 3px
    background-color: #20924f
    padding: 20px 35px 20px 33px
    color: #fff
    border: 0
    text-transform: uppercase
    font-size: 16px
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif
    line-height: 0.813
    cursor: pointer

.b-button:hover 
    background-color: #01BAEF

.b-button:hover .b-button__icon-wrapper 
    background-color: #01BAEF

.s-main-page-preorder__button-wrapper>.b-button .b-button__icon--animation 
    border-radius: 100%
    animation: ripple 0.6s linear infinite

.b-button__content-wrapper 
    padding-top: 3px

.b-button__icon-wrapper 
    position: relative
    margin-left: -9px
    margin-bottom: -20px
    top: -4px
    width: 20px
    height: 20px
    background-color: #64b484

.b-button__content-wrapper span 
    letter-spacing: 1px
    padding-left: 66px

// Descriptions

.s-main-page__content__item--firstHeader 
    color: #fff
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif
    font-size: 49px
    margin-left: -4px
    font-weight: 500
    letter-spacing: 0.8px
    position: relative

.s-main-page__content__item--firstHeader-pulse 
    position: absolute
    top: 0
    left: 0

.s-main-page__content__item--header 
    color: #fff
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif
    font-size: 36px
    font-weight: 500
    display: inline
    padding-left: 44px

.s-main-page__content__item-wrapper 
    padding-bottom: 31px

.s-main-page__content__item--header-icon
    opacity: 0
    width: 30px
    margin-top: 5px
    position: absolute

.s-main-page__content__item--header-icon_active
    opacity: 1
    animation: fadeInLeft 1.5s ease-in-out
    animation-fill-mode: both

.s-main-page__content__links-wrapper
    position: absolute
    right: 0
    top: 0

.s-main-page__content__item-wrapper:nth-child(2) .s-main-page__content__item--header span
    color: #7989cb

.s-main-page__content__item-wrapper .s-main-page__content__item--header-logo 
    width: 30px
    height: 30px
    display: inline

.s-main-page__content__item-wrapper:nth-child(3) .s-main-page__content__item--header span
    color: #33e27c

.s-main-page__content__item-wrapper:nth-child(4) .s-main-page__content__item--header span
    color: #f18649

.s-main-page__content__item-wrapper:nth-child(5) .s-main-page__content__item--header span
    color: #4ad7de

.s-main-page__content__item--firstHeader-wrapper 
    padding-bottom: 3px
    width: 100%
    position: relative
    height: 99px

.s-main-page__content__item--header-wrapper 
    padding-bottom: 42px
    width: 100%
    position: relative
    margin-top: -2px

.s-main-page__content__item--body 
    color: #fff
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif
    font-weight: 300
    font-size: 15px
    line-height: 1.3333em
    text-align: justify

.links-wrapper__text
    color: #fff

.links-wrapper__text-green
     font-family: ProximaNovaSemibold, sans-serif
     color: #20924f
     font-weight: 500

.s-main-page__content__button
    top: 0
    height: 35px
    line-height: 35px
    border-radius: 2px
    position: absolute
    font-size: 14px

.s-main-page__content__button_link
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: block
    height: 100%
    width: 100%
    text-decoration: none

.s-main-page__content__button_install 
    width: 163px
    background-color: #20924f
    right: 120px
    font-family: ProximaNovaSemibold, sans-serif
    text-align: right
    &:hover 
        opacity: 0.6

.s-main-page__content__button_install-content
    color: #fff
    padding-right: 16px

.s-main-page__content__button_read-more-content
    color: #000

.s-main-page__content__button_read-more
    width: 111px
    background-color: #d5d5d5
    right: 0
    text-align: center
    font-family: ProximaNovaRegular, sans-serif
    font-weight: 500
    text-decoration: none
    &:hover 
        opacity: 0.6

.content__button_logo
    position: absolute
    left: 16px
    top: 9px

.s-main-page__content__item-wrapper
    color: #fff
    opacity: 1
    /*opacity: 0.2*/

.s-main-page__content__item--firstHeader-svg 
    position: absolute
    top: -113px
    left: 120px
    height: 100px

.svg-k-small 
    margin-left: 5px
    display: inline-block
    float: left
    width: 41px
    height: 60px
    margin-top: 113px
    padding-left: 2px
    font-size: 46px
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif

.svg-i-small 
    letter-spacing: 15px
    display: inline-block
    float: left
    width: 23px
    height: 145px
    font-size: 46px
    margin-left: -5px
    margin-top: 70px
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif

.svg-t-small 
    letter-spacing: 0px
    display: inline-block
    float: left
    width: 34px
    height: 100px
    margin-top: 93px
    font-size: 46px
    margin-left: -14px
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif

.s-main-page__content__item--firstHeader-tm 
    position: absolute
    top: 2px
    left: 197px
    font-size: 10px
    font-weight: 500
 
@keyframes fadeInLeft 
    0% 
        opacity: 0
        transform: translateX(-20px)
    100% 
        opacity: 1
        transform: translateX(0)

@media screen and (max-width: 668px)
    .s-main-page__content__button_install
        top: 50px
        left: 0
    .s-main-page__content__button_read-more
        top: 50px
        left: 170px
    .s-main-page__content__links-wrapper
        left: 0
        top: 50px

@media screen and (max-width: 480px) 
    .s-main-page__content__item-wrapper .s-main-page__content__item--header-logo 
        display: none
    
    .s-main-page__content__item--firstHeader-wrapper 
        padding-top: 2px
        padding-bottom: 44px

    .s-main-page__content__item--header-icon 
        width: 24px
        margin-top: 0
        position: absolute

    .s-main-page__content__item--header 
        font-size: 25px
        padding-left: 0
    
    .s-main-page__content__item--firstHeader 
        font-size: 49px
    
    .s-main-page__content__item--firstHeader-svg
        position: absolute
        top: -110px
        left: 130px
        height: 100px
    
    .svg-k-small 
        width: 41px
        height: 60px
        margin-top: 107px
        margin-left: -9px
        font-size: 49px
        display: inline-block
        float: left
        font-family: ProximaNova, Helvetica Neue, Arial, sans-serif
    
    .svg-i-small 
        width: 23px
        height: 146px
        font-size: 49px
        margin-left: -5px
        margin-top: 64px
        display: inline-block
        float: left
        font-family: ProximaNova, Helvetica Neue, Arial, sans-serif
    
    .svg-t-small 
        display: inline-block
        float: left
        width: 34px
        height: 91px
        margin-top: 91px
        font-size: 49px
        margin-left: -13px
        font-family: ProximaNova, Helvetica Neue, Arial, sans-serif
    
    .s-main-page__content__item--firstHeader-tm 
        left: 200px
        font-size: 6px
        font-weight: 300
    
// Logo

.svg-k 
    letter-spacing: -7px
    display: inline-block
    float: left
    width: 100px
    height: 200px
    font-size: 135px
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif
    margin-top: 17px

.svg-i 
    letter-spacing: 25px
    display: inline-block
    float: left
    width: 60px
    height: 200px
    font-size: 135px
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif
    margin-top: 17px
    margin-left: -11px

.svg-t 
    letter-spacing: -10px
    display: inline-block
    float: left
    width: 80px
    height: 198px
    font-size: 135px
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif
    margin-left: -32px
    margin-top: 17px

.s-main-page-logo__content-wrapper 
    text-align: center
    display: table
    width: 100%
    padding-top: 130px

.s-main-page-logo__content 
    display: inline-block
    width: 610px
    position: relative
    padding-left: 90px

.s-main-page-logo__content h1
    padding-left: 3px
    letter-spacing: 2px

.s-main-page-logo__text 
    font-size: 135px
    color: #fff
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif
    float: left
    padding-top: 40px

.s-main-page-logo__uppertext 
    position: absolute
    right: 10px
    font-size: 19px
    color: #fff
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif
    padding-top: 50px

@media screen and (max-width: 1230px) and (min-width: 900px)
    .s-main-page-logo__content-wrapper 
        padding-top: 50px
    
@media screen and (max-width: 899px) and (min-width: 551px)
    .s-main-page-logo__content-wrapper 
        padding-top: 30px
    
    .s-main-page-logo__content 
        width: 465px
        padding-left: 5%
    
    .s-main-page-logo__text 
        font-size: 100px
    
    .svg-k 
        width: 85px
        height: 90px
        font-size: 100px
        margin-top: 53px
    
    .svg-i 
        width: 48px
        height: 107px
        font-size: 100px
        margin-top: 42px
        margin-left: -11px
    
    .svg-t 
        width: 59px
        height: 132px
        font-size: 100px
        margin-left: -25px
        margin-top: 31px
    
    .s-main-page-logo__uppertext 
        font-size: 13px
    
@media screen and (max-width: 550px) and (min-width: 481px)
    .s-main-page-logo__content-wrapper 
        padding-top: 30px
    
    .s-main-page-logo__content 
        width: 440px
        padding-left: 12%
    
    .s-main-page-logo__text 
        font-size: 90px
    
    .svg-k 
        width: 75px
        height: 90px
        font-size: 97px
        margin-top: 44px
    
    .svg-i 
        width: 48px
        height: 100px
        font-size: 100px
        margin-top: 38px
        margin-left: -7px
    
    .svg-t 
        width: 59px
        height: 102px
        font-size: 100px
        margin-left: -22px
        margin-top: 37px
    
    .s-main-page-logo__uppertext 
        font-size: 12px
        right: 20px
        padding-top: 53px
    
@media screen and (max-width: 480px) 
    .s-main-page__content__button_install, .s-main-page__content__button_read-more
        top: 40px

    .s-main-page__content__item--header-wrapper
        padding-bottom: 40px

    .content__button_logo
        left: 5px

    .s-main-page-logo__content-wrapper 
        padding-top: 0
    
    .s-main-page-logo__content 
        width: 270px
        padding-left: 39px
        margin-top: -10px
    
    .s-main-page-logo__text 
        font-size: 57px
        letter-spacing: 1px
    
    .svg-k 
        width: 60px
        height: 60px
        font-size: 57px
        margin-top: 43px
        margin-left: -9px
    
    .svg-i 
        width: 24px
        height: 79px
        font-size: 57px
        margin-top: 34px
    
    .svg-t 
        width: 52px
        height: 80px
        font-size: 59px
        margin-top: 33px
        margin-left: -20px
    
    .s-main-page-logo__uppertext 
        font-size: 8px
        padding-top: 44px
        right: -11px

// Arrows for slider

@media screen and (max-width: 900px) and (min-width: 481px)
    .s-main-page-wrapper 
        overflow-x: hidden
    
    .arrow 
        position: absolute !important
        padding: 0.5rem !important
        box-shadow: 1px -1px 0 1px #308488 inset !important
        -webkit-box-shadow: 2px -2px #308488 inset !important
        border: solid transparent !important
        border-width: 0 0 2rem 2rem !important
        transition: 0.2s !important
    
    .arrow:hover 
        box-shadow: 2px -2px 0 2px #308488 inset !important
        -webkit-box-shadow: 4px -4px #308488 inset !important
    
    .arrow-up     transform:rotate(135deg) 
    .arrow-left 
        left: 100%
        transform:rotate(225deg) !important
        top:35% !important
        right:0 !important
        margin-right: -70px !important
    
    .arrow-down   transform:rotate(-45deg) 
    .arrow-right  
        transform:rotate(45deg) !important
        top:35% !important
        left:0 !important
        margin-left: -70px !important
    
.slick-prev 
    left: initial

.slick-next:before, [dir=rtl] .slick-prev:before, .slick-prev:before
    content: " "

@media screen and (max-width: 480px) 
    .arrow 
        display: none

// Plugin's Logo

.s-main-page-pluginLogo__content-wrapper 
    text-align: center
    display: block
    width: 100%
    padding-top: 70px
    overflow: hidden

.s-main-page-pluginLogo__content-mobile-wrapper 
    text-align: center
    display: none
    width: 100%
    padding-top: 70px
    overflow: hidden

@media screen and (max-width: 1230px) and (min-width: 901px) 
    .s-main-page-pluginLogo__content-wrapper 
        padding-top: 60px
        height: 230px
    
@media screen and (max-width: 900px) and (min-width: 481px) 
    .s-main-page-pluginLogo__content-wrapper 
        position: relative
        height: 260px
        display: none
    
    .s-main-page-pluginLogo__content-mobile-wrapper 
        display: block
        position: relative
        height: 260px
    
@media screen and (max-width: 480px) 
    .s-main-page-pluginLogo__content-wrapper 
        display: none
    
    .s-main-page-pluginLogo__content-mobile-wrapper 
        display: block
        position: relative
        height: 200px
        padding-top: 14px
    
.s-main-page-pluginLogo__content 
    width: 80%
    margin: 0 auto

@media screen and (min-width: 1231px) 
    .s-main-page-pluginLogo__content 
        padding-left: 21px
    
@media screen and (max-width: 1230px) and (min-width: 901px) 
    .s-main-page-pluginLogo__content 
        width: 100%
    
@media screen and (max-width: 900px) and (min-width: 481px) 
    .s-main-page-pluginLogo__content 
        position: absolute
        left: 0
        right: 0
    
.s-main-page-pluginLogo__content__item-wrapper, .s-main-page-pluginLogo__content__item--mobile-wrapper 
    color: #ffffff
    font-size: 22px
    vertical-align: middle
    display: inline-block
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif
    font-weight: 100
    line-height: 1px
    margin-right: -20px

.s-main-page-pluginLogo__content__item--mobile-wrapper
    display: none

@media screen and (max-width: 1230px) and (min-width: 901px) 
    .s-main-page-pluginLogo__content__item-wrapper 
        margin-right: -30px
    
@media screen and (max-width: 900px) 
    .s-main-page-pluginLogo__content__item--mobile-wrapper
        display: inline-block
    
    .s-main-page-pluginLogo__content__item-wrapper
        display: none
    
.s-main-page-pluginLogo__content__item-image 
    -webkit-transition: top 0.3s ease-in
    -moz-transition: top 0.3s ease-in
    -o-transition: top 0.3s ease-in
    transition: top 0.3s ease-in
    position: relative
    top: 0

.lockedLogo 
    cursor: default

.s-main-page-pluginLogo__content__item-wrapper--active 
    top: -60px

.slick-slide, .s-main-page-pluginLogo__content-slider-img 
    position: relative

.slick-slide:nth-child(1), .s-main-page-pluginLogo__content-slider-img:nth-child(1), .s-main-page-pluginLogo__content-slider-img--safari:nth-child(1) 
    z-index: 8

.slick-slide:nth-child(2), .s-main-page-pluginLogo__content-slider-img:nth-child(2), .s-main-page-pluginLogo__content-slider-img--safari:nth-child(2) 
    z-index: 7

.slick-slide:nth-child(3), .s-main-page-pluginLogo__content-slider-img:nth-child(3), .s-main-page-pluginLogo__content-slider-img--safari:nth-child(3) 
    z-index: 6

.slick-slide:nth-child(4), .s-main-page-pluginLogo__content-slider-img:nth-child(4), .s-main-page-pluginLogo__content-slider-img--safari:nth-child(4) 
    z-index: 5

.slick-slide:nth-child(5), .s-main-page-pluginLogo__content-slider-img:nth-child(5), .s-main-page-pluginLogo__content-slider-img--safari:nth-child(5) 
    z-index: 4

.slick-slide:nth-child(6), .s-main-page-pluginLogo__content-slider-img:nth-child(6), .s-main-page-pluginLogo__content-slider-img--safari:nth-child(6) 
    z-index: 3

.slick-slide:nth-child(7), .s-main-page-pluginLogo__content-slider-img:nth-child(7), .s-main-page-pluginLogo__content-slider-img--safari:nth-child(7) 
    z-index: 2

.slick-slide:nth-child(8), .s-main-page-pluginLogo__content-slider-img:nth-child(8), .s-main-page-pluginLogo__content-slider-img--safari:nth-child(8) 
    z-index: 1

@media screen and (max-width: 1264px) and (min-width: 901px) 
    .s-main-page-pluginLogo__content__item-image 
        width: 230px
    
@media screen and (max-width: 900px) and (min-width: 481px)
    .s-main-page-pluginLogo__content
        .slick-list 
            min-height: 189px
    
    .s-main-page-pluginLogo__content-slider-img 
        width: 270px
        padding-top: 6px
    
    .s-main-page-pluginLogo__content-slider-img--safari
        margin-left: -30px
        position: relative
        left: -60px
        padding-top: 6px
        width: 245px
    
@media screen and (max-width: 541px) and (min-width: 481px) 
    .s-main-page-pluginLogo__content
        .slick-list 
            height: 189px !important
    
    .s-main-page-pluginLogo__content-slider-img 
        width: 245px
    
    .scroll__down_button 
        margin: 0 auto 30px !important
    
@media screen and (max-width: 480px)
    .s-main-page-pluginLogo__content
        .slick-list 
            min-height: 153px
    
    .s-main-page-pluginLogo__content-slider-img 
        width: 200px
        padding-top: 6px
    
    .s-main-page-pluginLogo__content__item-image 
        transform: translate3d(0, 0, 0)
    
    .s-main-page-pluginLogo__content-slider-img--safari
        position: relative
        padding-top: 6px
        width: 245px
    
.slick-slider .slick-list 
    transform: none

.slick-track 
    font-size: 0
    white-space: nowrap

.slick-slide 
    float: none
    display: inline-block
    vertical-align: top

.slick-initialized .slick-slide 
    display: inline-block

// Plugin's name

.s-main-page-pluginDesc__content-wrapper 
    text-align: center
    display: block
    width: 100%
    margin-top: -3px

@media screen and (max-width: 899px) and (min-width: 481px) 
    .s-main-page-pluginDesc__content-wrapper 
        padding-top: 25px
    
@media screen and (max-width: 480px) 
    .s-main-page-pluginDesc__content-wrapper 
        display: none

.s-main-page-pluginDesc__content 
    display: flex
    flex-direction: row
    justify-content: center
    flex-wrap: wrap

.s-main-page-pluginDesc__content__item-wrapper
    position: relative
    color: #ffffff
    font-size: 22px
    margin-right: 16px
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif
    font-weight: 100
    &:before
        position: absolute
        top: 7px
        left: -15px
        content: "●"
        font-size: 10px
        background-color: transparent
        width: 6px
        height: 6px

.s-main-page-pluginDesc__content__item-wrapper:nth-child(1):before
    color: #454e72

.s-main-page-pluginDesc__content__item-wrapper:nth-child(2):before
    color: #209a53

.s-main-page-pluginDesc__content__item-wrapper:nth-child(3):before
    color: #aa501d

.s-main-page-pluginDesc__content__item-wrapper:nth-child(4):before
    color: #37989c

.s-main-page-pluginDesc__content__item 
    margin-right: 10px
    &:before
        content: ""
        position: absolute
        left: 0
        bottom: -3px
        width: 94%
        border-bottom: 1px dashed
        cursor: pointer
        opacity: 0
    &:hover
        &:before
            opacity: 1

.content__item_timesheet:before
    border-color: #454e72

.content__item_checklist:before
    border-color: #209a53

.content__item_badges:before
    border-color: #aa501d

.content__item_project:before
    border-color: #37989c

.s-main-page-pluginDesc__content__item-wrapper a 
    text-decoration: none
    color: #fff

@media screen and (max-width: 1230px) and (min-width: 900px)
    .s-main-page-pluginDesc__content__item-wrapper 
        font-size: 20px

@media screen and (max-width: 899px) and (min-width: 481px)  
    .s-main-page-pluginDesc__content__item-wrapper 
        margin-right: 0
        padding: 0 60px 10px 60px
        &:before
            left: 35px

    .s-main-page-pluginDesc__content__item
        margin-right: 0
        &:before
            bottom: 7px
            width: inherit
            right: 60px
            left: 60px

    .s-main-page-pluginDesc__content:nth-child(2)
        padding-top: 10px
    
    .s-main-page-pluginDesc__content__item-wrapper:nth-child(3) 
        display: inline-block
    
    .s-main-page-pluginDesc__content__item-wrapper:nth-child(2):after 
        content: " "
    
    ._slick-track > .slick-initialized > .slick-list > .slick-track  
        transform: translate3d(-292.805px, 0px, 0px) !important
