<div class="s-main-page-wrapper">
    <div class="s-main-page-background__wrapper">
        <div class="s-main-page-logo__content-wrapper">
            <div class="s-main-page-logo__content">
                <h1>
                    <span class="s-main-page-logo__text">Pulse</span>
                    <svg class="svg-k" view-box="0 0 80 80">
                        <svg view-box="0 0 80 80" >
                            <linearGradient
                                    id="gradient-k"
                                    x1="0%"
                                    y1="100%"
                                    x2="0%"
                                    y2="10%"
                            >
                                <stop offset="30%" stop-color="#498930" ></stop>
                                <stop offset="70%" stop-color="#982620" ></stop>
                            </linearGradient>
                            <symbol id="text-k">
                                <text
                                        x="50%"
                                        y="50%"
                                        dy=".35em"
                                        text-anchor="middle"
                                >
                                    .k
                                </text>
                            </symbol>
                            <g
                                    fill="url(#gradient-k)"
                                    stroke-width="5"
                            >
                                <g mask="url(#mask-top-k)">
                                    <rect
                                            width="96px"
                                            height="96px"
                                            x="2%" y="2%"
                                            rx="20"
                                            fill="none"
                                    >
                                    </rect>
                                    <use xlink:href="#text-k"
                                            stroke-width="2">
                                    </use>
                                </g>
                            </g>
                        </svg>
                    </svg>
                    <svg class="svg-i" view-box="0 0 10 40">
                    <svg view-box="0 0 20 80">
                        <linearGradient id="gradient-i" x1="0%" y1="100%" x2="0%" y2="10%">
                            <stop offset="30%" stop-color="#388763"></stop>
                            <stop offset="54%" stop-color="#4f5a81"></stop>
                            <stop offset="55%" stop-color="#3a7a7f"></stop>
                            <stop offset="90%" stop-color="#6c4953"></stop>
                        </linearGradient>

                        <symbol id="text-i">
                            <text
                                    x="50%"
                                    y="50%"
                                    dy=".35em"
                                    text-anchor="middle"
                            >i</text>
                        </symbol>
                        <g fill="url(#gradient-i)"
                            stroke-width="5">
                            <g mask="url(#mask-top-i)">
                                <rect
                                        width="96px"
                                        height="96px"
                                        x="2%"
                                        y="2%"
                                        rx="20"
                                        fill="none">
                                </rect>
                                <use xlink:href="#text-i"
                                        stroke-width="2">
                                </use>
                            </g>
                        </g>
                    </svg>
                    </svg>
                    <svg class="svg-t" view-box="0 0 40 80" >
                    <svg view-box="0 0 40 80">
                        <linearGradient id="gradient-t" x1="0%" y1="100%" x2="0%" y2="10%">
                            <stop offset="10%" stop-color="#476977"></stop>
                            <stop offset="55%" stop-color="#4f5a81"></stop>
                            <stop offset="44%" stop-color="#3a7a7f"></stop>
                        </linearGradient>

                        <symbol id="text-t">
                            <text
                                    x="50%"
                                    y="50%"
                                    dy=".35em"
                                    text-anchor="middle"
                            >
                                t
                            </text>
                        </symbol>
                        <g fill="url(#gradient-t)"
                            stroke-width="5">
                            <g mask="url(#mask-top-t)">
                                <rect
                                        width="96px"
                                        height="96px"
                                        x="2%"
                                        y="2%"
                                        rx="20"
                                        fill="none"
                                >
                                </rect>
                                <use
                                        xlink:href="#text-t"
                                        stroke-width="2"
                                >
                                </use>
                            </g>
                        </g>
                    </svg>
                    </svg>
                </h1>               
                <div class="s-main-page-logo__uppertext">for JIRA</div>        
            </div>
        </div>
        <div>
            <div class="s-main-page-pluginDesc__content-wrapper">
                <div class="s-main-page-pluginDesc__content">
                    <div class="s-main-page-pluginDesc__content__item-wrapper">
                        <a href="#section-Timesheet" id="time">
                            <div class="s-main-page-pluginDesc__content__item content__item_timesheet" >
                                Control the time
                            </div>
                        </a>
                    </div>
                    <div class="s-main-page-pluginDesc__content__item-wrapper">
                        <a href="#section-Checklist" id="check">
                            <div class="s-main-page-pluginDesc__content__item content__item_checklist" >
                                Create checklists
                            </div>
                        </a>
                    </div>
                    <div class="s-main-page-pluginDesc__content__item-wrapper" id="badge">
                        <a href="#section-Badges">
                            <div class="s-main-page-pluginDesc__content__item content__item_badges" >
                                Evaluate work
                            </div>
                        </a>
                    </div>
                    <div class="s-main-page-pluginDesc__content__item-wrapper" id="projects">
                        <a href="#section-Project">
                            <div class="s-main-page-pluginDesc__content__item content__item_project" >
                                Organize projects
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="s-main-page-preorder__content-wrapper">
                <!--<a href="" target="_blank" >-->
                    <div class="s-main-page-preorder__button-wrapper">
                        <button class="b-button">
                            <div class="b-button__content-wrapper">
                                <div class="b-button__icon-wrapper b-button__icon--animation">
                                    <img src="static/img/content/mainpage/basket.png" />
                                </div>
                                <span class="b-button__content-text">ALL ADD-ONS</span>
                            </div>
                        </button>
                    </div>
                <!--</a>-->
            </div>
        </div>
        <div class="s-main-page-pluginLogo__content-wrapper">
            <div class="s-main-page-pluginLogo__content">
                <div class="s-main-page-pluginLogo__content__item-wrapper">
                    <div class="s-main-page-pluginLogo__content__item">
                        <a href="./timesheet/">
                        <img
                                src="static/img/content/mainpage/PulseTime.png"
                                id="timeLogo"
                                data-val="time"
                                alt="PulseKit.Timesheet"
                                class="s-main-page-pluginLogo__content__item s-main-page-pluginLogo__content__item-image"
                                style="z-index:4"
                        >
                        <div class="s-main-page-pluginLogo__content__box-shadow s-main-page-pluginLogo__content__box-shadow--time" id="timeLogoShadow"></div>
                        </a>
                    </div>
                </div>
                <div class="s-main-page-pluginLogo__content__item-wrapper">
                    <div class="s-main-page-pluginLogo__content__item">
                        <a href="./checklist/"> 
                            <img
                                    src="static/img/content/mainpage/PulseChecklist.png"
                                    alt="PulseKit.Checklist"
                                    id="checkLogo"
                                    data-val="check"
                                    class="s-main-page-pluginLogo__content__item s-main-page-pluginLogo__content__item-image"
                                    style="z-index:3"
                            >
                            <div class="s-main-page-pluginLogo__content__box-shadow s-main-page-pluginLogo__content__box-shadow--checklist" id="checkLogoShadow"></div>
                        </a>
                    </div>
                </div>
                <div class="s-main-page-pluginLogo__content__item-wrapper">
                    <div class="s-main-page-pluginLogo__content__item">
                        <!--<a href="" target="_blank">-->
                        <img
                                src="static/img/content/mainpage/PulseBadges.png"
                                alt="PulseKit.Badges"
                                id="badgesLogo"
                                data-val="badge"
                                class="s-main-page-pluginLogo__content__item s-main-page-pluginLogo__content__item-image"
                                style="z-index:2"
                        >
                        <div class="s-main-page-pluginLogo__content__box-shadow s-main-page-pluginLogo__content__box-shadow--badges" id="badgesLogoShadow"></div>
                        <!--</a>-->
                    </div>
                </div>
                <div class="s-main-page-pluginLogo__content__item-wrapper">
                    <div class="s-main-page-pluginLogo__content__item">
                        <!--<a href="" target="_blank">-->
                        <img
                                src="static/img/content/mainpage/PulseProjects.png"
                                alt="PulseKit.Project"
                                id="projectsLogo"
                                data-val="projects"
                                class="s-main-page-pluginLogo__content__item s-main-page-pluginLogo__content__item-image"
                                style="z-index:1"
                        >
                        <div class="s-main-page-pluginLogo__content__box-shadow s-main-page-pluginLogo__content__box-shadow--project" id="projectsLogoShadow"></div>
                        <!--</a>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="s-main-page-pluginLogo__content-mobile-wrapper">
            <div class="s-main-page-pluginLogo__content" id="startSlider" data-slick='{"slidesToShow": 1, "slidesToScroll": 4}'>
                <a href="#">
                    <img
                            src="static/img/content/mainpage/PulseTime.png"
                            class="s-main-page-pluginLogo__content-slider-img"
                            style="z-index:4"
                    />
                </a>
                <a href="/checklist/">
                    <img
                            src="static/img/content/mainpage/PulseChecklist.png"
                            class="s-main-page-pluginLogo__content-slider-img"
                            style="z-index:3"
                    />
                </a>
                <a href="#">
                    <img
                            src="static/img/content/mainpage/PulseBadges.png"
                            class="s-main-page-pluginLogo__content-slider-img"
                            style="z-index:2"
                    />
                </a>
                <a href="#">
                    <img
                            src="static/img/content/mainpage/PulseProjects.png"
                            class="s-main-page-pluginLogo__content-slider-img"
                            style="z-index:1"
                    />
                </a>
            </div>
        </div>
    </div>
    <a class="scroll__down" href="#section-fulldescription">
        <button class="scroll__down_button">
            <span class="scroll__mouse">
                <span class="scroll__wheel"></span>
            </span>
        </button>
        <div class="s-main-page-scroll-down-dude__wrapper">
            <div class="scroll-down-dude"></div>
        </div>
    </a>
    <div class="s-main-page-descriptions container">
        <div class="s-main-page__content-wrapper">
            <div class="s-main-page__content">
                <div class="s-main-page__content__item-wrapper" >
                    <div class="s-main-page__content__item--firstHeader-wrapper">
                        <h2 class="s-main-page__content__item--firstHeader" id="section-fulldescription">
                            <span class="s-main-page__content__item--firstHeader-pulse">Pulse</span>
                            <span class="s-main-page__content__item--firstHeader-svg">
                                <svg class="svg-k-small" view-box="0 0 80 80">
                                    <svg view-box="0 0 80 80" >
                                        <linearGradient
                                                id="gradient-k-small"
                                                x1="0%"
                                                y1="100%"
                                                x2="0%"
                                                y2="10%"
                                        >
                                            <stop offset="30%" stop-color="#498930"></stop>
                                            <stop offset="70%" stop-color="#982620"></stop>
                                        </linearGradient>
                                        <symbol id="text-k-small">
                                            <text
                                                    x="50%"
                                                    y="50%"
                                                    dy=".35em"
                                                    text-anchor="middle"
                                            >
                                                .k
                                            </text>
                                        </symbol>
                                        <g
                                                fill="url(#gradient-k-small)"
                                                stroke-width="5"
                                        >
                                            <g mask="url(#mask-top-k-small)">
                                                <rect
                                                        width="96px"
                                                        height="96px"
                                                        x="2%" y="2%"
                                                        rx="20"
                                                        fill="none"
                                                >
                                                </rect>
                                                <use xlink:href="#text-k-small"
                                                        stroke-width="2">
                                                </use>
                                            </g>
                                        </g>
                                    </svg>
                                </svg>
                                <svg class="svg-i-small" view-box="0 0 10 40">
                                    <svg view-box="0 0 20 80">
                                        <linearGradient id="gradient-i-small" x1="0%" y1="100%" x2="0%" y2="10%">
                                            <stop offset="30%" stop-color="#388763" ></stop>
                                            <stop offset="54%" stop-color="#4f5a81" ></stop>
                                            <stop offset="55%" stop-color="#3a7a7f" ></stop>
                                            <stop offset="90%" stop-color="#6c4953" ></stop>
                                        </linearGradient>

                                        <symbol id="text-i-small">
                                            <text
                                                    x="50%"
                                                    y="50%"
                                                    dy=".35em"
                                                    text-anchor="middle"
                                            >i</text>
                                        </symbol>
                                        <g fill="url(#gradient-i-small)"
                                            stroke-width="5">
                                            <g mask="url(#mask-top-i-small)">
                                                <rect
                                                        width="96px"
                                                        height="96px"
                                                        x="2%"
                                                        y="2%"
                                                        rx="20"
                                                        fill="none">
                                                </rect>
                                                <use xlink:href="#text-i-small"
                                                        stroke-width="2">
                                                </use>
                                            </g>
                                        </g>
                                    </svg>
                                </svg>
                                <svg class="svg-t-small" view-box="0 0 40 80" >
                                    <svg view-box="0 0 40 80">
                                        <linearGradient id="gradient-t-small" x1="0%" y1="100%" x2="0%" y2="10%">
                                            <stop offset="10%" stop-color="#476977" ></stop>
                                            <stop offset="55%" stop-color="#4f5a81" ></stop>
                                            <stop offset="44%" stop-color="#3a7a7f" ></stop>
                                        </linearGradient>

                                        <symbol id="text-t-small">
                                            <text
                                                    x="50%"
                                                    y="50%"
                                                    dy=".35em"
                                                    text-anchor="middle"
                                            >
                                                t
                                            </text>
                                        </symbol>
                                        <g fill="url(#gradient-t-small)"
                                            stroke-width="5">
                                            <g mask="url(#mask-top-t-small)">
                                                <rect
                                                        width="96px"
                                                        height="96px"
                                                        x="2%"
                                                        y="2%"
                                                        rx="20"
                                                        fill="none"
                                                >
                                                </rect>
                                                <use
                                                    xlink:href="#text-t-small"
                                                    stroke-width="2"
                                                >
                                                </use>
                                            </g>
                                        </g>
                                    </svg>
                                </svg>
                            </span>
                            <span class="s-main-page__content__item--firstHeader-tm">for JIRA</span>
                        </h2>
                    </div>
                    <div class="s-main-page__content__item--body-wrapper" >
                        <p class="s-main-page__content__item--body" >
                            A set of add-ons Pulse.kit for JIRA cloud will help you to organize the team work. Using add-ons, you save time to write up reports on time spent, make ToDo lists, evaluate the work of your colleagues, optimize the organization of the project.</p>
                        <p class="s-main-page__content__item--body" >
                            Start using it now and your products will be better, and employees will be satisfied!
                        </p>
                    </div>
                </div>
                <div class="s-main-page__content__item-wrapper" id="section-Timesheet" >
                    <div class="s-main-page__content__item--header-wrapper">
                        <div class="s-main-page__content__item--header-logo" >
                            <img src="static/img/content/mainpage/iconPulseTime.png" class="s-main-page__content__item--header-icon" />
                        </div>
                        <h2 class="s-main-page__content__item--header" >
                            Pulse.<span>Timesheet</span>
                        </h2>
                        <div class="s-main-page__content__button s-main-page__content__button_read-more" >  
                            <a class="s-main-page__content__button_link" href="./timesheet/">
                                <span class="s-main-page__content__button_read-more-content">
                                    Read more ...
                                </span>
                            </a>
                        </div>
                        <div  class="s-main-page__content__button s-main-page__content__button_install">
                            <a class="s-main-page__content__button_link" href = "https://marketplace.atlassian.com/plugins/com.unit6.jira.reports/cloud/overview">
                                <span class="s-main-page__content__button_install-content">
                                    <img class="content__button_logo" src="static/img/content/mainpage/logo_atlassian.png"> Install the plugin
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="s-main-page__content__item--body-wrapper" >
                        <p class="s-main-page__content__item--body" >
With Pulse.Timesheet you can easily and quickly generate reports on the work done. The timesheet report is formed on the basis of criteria: Project, Actors, Time period. Also, you can save the selected report criteria as a template.The report can be downloaded onto your computer or sent to your e-mail. You can configure the automatic sending of a timesheets to your e-mail on schedule. For your convenience report will contain two pages in different formats: simple table with whole work log and pivot table, created based on the first table.
                        </p>
                    </div>
                </div>
                <div class="s-main-page__content__item-wrapper" id="section-Checklist" >
                    <div class="s-main-page__content__item--header-wrapper">
                        <div class="s-main-page__content__item--header-logo" >
                            <img src="static/img/content/mainpage/iconPulseChecklist.png" class="s-main-page__content__item--header-icon" />
                        </div>
                        <h2 class="s-main-page__content__item--header" >
                            Pulse.<span>Checklist</span>
                        </h2>
                        <div class="s-main-page__content__links-wrapper" >
                            <div class="links-wrapper__text">
                                <span class="links-wrapper__text-green">Coming soon:</span> September 2017
                            </div>
                        </div>
                    </div>
                    <div class="s-main-page__content__item--body-wrapper" >
                        <p class="s-main-page__content__item--body" >
                            Pulse.Checklist is ideal for determining perfect acceptance criterion or any ToDo lists! It implements everything you need to work with checklists: create multiple checklists, create items in each checklist. Change the order of the checklist and its elements using Drag&drop. Depending on the issue status, you can see checklists that relate to the сurrent status, hiding the checklists items from other checklists.
                        </p>
                    </div>
                </div>
                <div class="s-main-page__content__item-wrapper" id="section-Badges" >
                    <div class="s-main-page__content__item--header-wrapper">
                        <div class="s-main-page__content__item--header-logo" >
                            <img src="static/img/content/mainpage/iconPulseBadges.png" class="s-main-page__content__item--header-icon" />
                        </div>
                        <h2 class="s-main-page__content__item--header" >
                            Pulse.<span>Badges</span>
                        </h2>
                        <div class="s-main-page__content__links-wrapper" >
                            <div class="links-wrapper__text">
                                <span class="links-wrapper__text-green">Coming soon:</span> December 2017
                            </div>
                        </div>
                    </div>
                    <div class="s-main-page__content__item--body-wrapper" >
                        <p class="s-main-page__content__item--body" >
                            Improve the work in the team with simple badges will help you the add-on Pulse.Badges. You can evaluate your employee with a badge for a huge number of qualities: Teamwork, specialist skills, human qualities (goodwill, sadness, fun and others), quickness and diligence, additional qualities. You can evaluate the employee in two clicks directly from the issue. After adding a badge, you can see it in the employee`s profile.
                        </p>
                    </div>
                </div>
                <div class="s-main-page__content__item-wrapper" id="section-Project" >
                    <div class="s-main-page__content__item--header-wrapper">
                        <div class="s-main-page__content__item--header-logo" >
                            <img src="static/img/content/mainpage/iconPulseProject.png" class="s-main-page__content__item--header-icon" />
                        </div>
                        <h2 class="s-main-page__content__item--header" >
                            Pulse.<span>Project</span>
                        </h2>
                        <div class="s-main-page__content__links-wrapper" >
                            <div class="links-wrapper__text">
                                <span class="links-wrapper__text-green">Coming soon:</span> April 2018
                            </div>
                        </div>
                    </div>
                    <div class="s-main-page__content__item--body-wrapper" >
                        <p class="s-main-page__content__item--body" >
                            Simplify the organization of work in JIRA with the help of Pulse.Project. There are many different functions for more convenient use of resources: fixed issues, the current project team, structured links to external documents-articles, including test and staged servers with logins-passwords, viewing the information of the team workload, new widgets for dashboards and many others.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
