<div class="b-modal b-modal__overview b-modal__form" id="modal-overview">
    <div class="b-modal__wrapper">
        <div class="b-modal__content_frame js-modal__content">
            <button class="b-modal__close js-modal__close">
                <svg xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="16px" height="16px">
                    <path fill-rule="evenodd"  fill="rgb(228, 241, 246)"
                          d="M15.999,3.015 L10.963,8.148 L15.703,12.980 L12.740,15.999 L8.000,11.168 L3.260,15.999 L0.297,12.980 L5.037,8.148 L0.001,3.015 L2.963,-0.004 L8.000,5.129 L13.036,-0.004 L15.999,3.015 Z"/>
                </svg>
            </button>
            <div id="player" class="b-modal__frame"></div>
        </div>
    </div>
</div>
