.b-modal 
    display: none

.b-modal--subscription 
    .b-modal__content 
        padding-bottom: 86px
    .b-modal-form__main 
        margin-bottom: 80px
    
.b-modal__wrapper 
    position: fixed
    z-index: 100
    top: 0
    left: 0
    height: 100%
    width: 100%
    background: rgba(0,0,0,0.8)
    display: flex
    justify-content: center
    align-items: center

.b-modal__content 
    width: calc(90% - 50px)
    max-width: 848px
    padding-left: 10px
    padding-right: 10px
    padding-top: 62px
    padding-bottom: 80px
    background: #fff
    position: relative
    @media screen and (max-width: 768px) 
        width: calc(90% - 20px)
        max-height: calc(90% - 20px)
        padding: 10px 20px
    
.b-modal__close 
    position: absolute
    z-index: 1
    bottom: 100%
    left: 100%
    margin-left: 8px
    margin-bottom: 3px
    background: transparent
    border: none
    @media screen and (max-width: 768px)
        bottom: auto
        left: auto
        margin-left: 0
        margin-bottom: 0
        right: 10px
        top: 10px
    svg path 
        @media screen and (max-width: 768px) 
            fill: #000
        
.b-modal__form 
    margin-bottom: 8px
    transition: 0.5s
    &.has-loading 
        opacity: 0.3

.b-modal__title 
    text-align: center
    @media screen and (max-width: 768px)
        font-size: 20px
        margin: 10px

.b-modal__subtitle 
    text-align: center
    margin-top: 26px
    @media screen and (max-width: 768px)
        margin-top: 10px

.b-modal__thanks 
    display: none

.b-modal-form__main 
    width: 433px
    max-width: 100%
    margin-left: auto
    margin-right: auto
    margin-top: 72px
    margin-bottom: 64px

    @media screen and (max-width: 768px) 
        margin-top: 20px
        margin-bottom: 20px
    
.b-modal-form__row 
    & + & 
        margin-top: 24px
    
.b-modal-form__group-input 
    border: 1px solid #c2c2c2
    width: 100%
    height: 56px
    display: flex
    justify-content: flex-start
    align-items: center

.b-modal-form__input-group-addon 
    width: 66px
    text-align: center
    display: inline-block
    line-height: 0

.b-modal-form__field-text 
    flex-grow: 1
    border: none
    outline: none
    font-size: 16px
    color: rgb(84, 84, 84)

.b-modal-form__checkbox-group 
    &:after 
        content: ''
        display: table
        clear: both
    
.b-modal-form__checkbox 
    position: relative
    display: inline-block
    vertical-align: middle

.b-modal-form__checkbox-control 
    position: absolute
    z-index: 1
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    opacity: 0

.b-modal-form__checkbox-tick 
    width: 30px
    height: 30px
    border: 1px solid #c2c2c2
    display: block
    position: relative

    &:before 
        content: ''
        display: block
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
        width: 12px
        height: 12px
        background: #5e5e5e
        opacity: 0
        transition: 0.5s

        .b-modal-form__checkbox-control:checked + & 
            opacity: 1

.b-modal-form__checkbox-text 
    vertical-align: middle
    display: inline-block
    font-size: 16px
    color: rgb(84, 84, 84)
    line-height: 1.2
    .b-modal-form__checkbox + & 
        margin-left: 34px

        @media screen and (max-width: 768px) 
            margin-left: 10px

.b-modal-form__footer 
    text-align: center

.b-btn
    opacity: .9
    color: #fff
    border-radius: 13px
    font-size: 16px
    cursor: pointer
    height: 40px
    width: 210px
    border: 0 none
    white-space: nowrap
    display: inline-block
    user-select: none
    &:hover:enabled
        background-color: #3caa3c

.b-btn:disabled
    opacity: .6