<div class="b-modal b-modal--subscription b-modal--form" id="modal-subscription">
    <div class="b-modal__wrapper">
        <div class="b-modal__content js-modal__content">
            <button class="b-modal__close js-modal__close">
                <svg xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="16px" height="16px">
                    <path fill-rule="evenodd"  fill="rgb(228, 241, 246)"
                          d="M15.999,3.015 L10.963,8.148 L15.703,12.980 L12.740,15.999 L8.000,11.168 L3.260,15.999 L0.297,12.980 L5.037,8.148 L0.001,3.015 L2.963,-0.004 L8.000,5.129 L13.036,-0.004 L15.999,3.015 Z"/>
                </svg>
            </button>

            <form class="b-modal__form b-modal-form js-form-subscription">
                <header class="b-modal-form__header b-modal__header">
                    <h2 class="b-modal__title">Receive news first!</h2>
                    <div class="b-modal__subtitle">Enter email to receive notifications</div>
                </header>

                <main class="b-modal-form__main">
                    <div class="b-modal-form__row">
                        <label class="b-modal-form__group-input">
							<span class="b-modal-form__input-group-addon">
								<i class="b-icon b-icon--email"></i>
							</span>
                            <input name="email" type="email" class="b-modal-form__field-text js-field-email" placeholder="info@pulsekit.com" required v-model="email">
                        </label>
                    </div>
                </main>

                <footer class="b-modal-form__footer">
                    <button class="b-btn  {{buttonColorClass}}" type="submit" v-bind:disabled="!isEmailValid">Receive notifications</button>
                </footer>
            </form>

            <div class="b-modal__thanks">
                <h2 class="b-modal__title">Thank you for your subscription.</h2>
                <div class="b-modal__subtitle">Now you are the first to receive notifications.</div>
            </div>
        </div>
    </div>
</div>
