<section class="s-overview" id="section-overview">
    <div class="s-overview__container">
        <h2 class="s-overview__title">
            All about add-on in three minutes
        </h2>
        <div class="playerMobile__container">
            <div id="playerMobile"></div>
        </div>
        <div class="s-overview__modal">
            <a class="s-overview__modal-link js-open-modal" data-modal="#modal-overview"><img src="%=static=%img/assets/modalOverview/ChecklistOverview.png"></a>
        </div>
    </div>
</section>