.s-overview
    overflow: hidden

.s-overview__container 
    position: relative
    height: 100%
    width: 100%
    background-color: #fafafa
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    &:before 
        z-index: 10
        left: calc(50% - 399px)
        content: url("%=static=%assets/modalOverview/shadow.png")
        bottom: 0
        height: 34px
        position: absolute
        overflow: hidden
        margin: auto
    &:after 
        content: ''
        left: 0
        bottom: -34px
        background-color: #fff
        height: 34px
        position: absolute
        width: 100%
        overflow: hidden
    
.s-overview__title 
    color: #333333
    font-size: 28px
    font-family: ProximaNovaLight
    font-weight: 500
    text-align: center
    margin-bottom: 30px
    @media screen and (max-width: 768px)
        margin-bottom: 55px
    @media screen and (max-width: 480px)
        font-size: 20px
        margin-top: 50px

.playerMobile__container
    display: none
    height: 316px
    width: 100%
    max-width: 560px
    @media screen and (max-width: 650px)
        height: 54vw
    @media screen and (max-width: 1023px)
        display: block
    
.s-overview__modal 
    position: relative
    margin: 0 5px 0 5px
    cursor: pointer
    vertical-align: bottom
    transition: all 1s ease
    transform: translateY(10px)
    &:hover 
        transform: translateY(0px)
        transition: all 1s ease
    @media screen and (max-width: 1023px)
        display: none
    
.s-overview__modal-link 
    img 
        width: 100%
        vertical-align: bottom
    
.s-overview__frame-wrapper 
    padding-top: 576/1024 * 100%
    position: relative

.s-overview__frame 
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%