.s-land-content
	background-color: #fff
	padding: 80px 0

.land-content__icon
    fill: rgba(51, 51, 51, .5)
    display: block
    position: relative
    width: 32px
    height: 32px
    margin-right: 20px
    transition: all .2s ease-out

.land-content__icon_active
	fill: #1f9951

.land-content__icon_big
	margin-right: 0
	width: 64px
	height: 64px
	fill: #1f9951

.land-content__wrapper
	width: 100%
	margin: auto
	display: flex
	align-items: center
	justify-content: center
	overflow: hidden

.land-content__left-side
	position: relative
	height: 70%
	width: 25%
	display: flex
	align-items: center
	justify-content: center
	
.land-left-side__item
	padding-top: 10px
	padding-bottom: 10px
	display: flex
	line-height: 34px
	color: rgba(#333, .5)
	font-weight: 500
	cursor: pointer
	transition: all .2s ease-out
	&:hover
		color: rgba(#333, 1)
		transition: all .2s ease-out
	&:hover > .icon
		fill: #333

.land-left-side__item_active
	color: rgba(#333, 1)
	&:hover > .icon
		fill: #e74c3c

.land-content__border
	position: absolute
	right: 5px
	top: 0
	height: 100%
	width: 1px
	background-color: rgba(#333, .2)

.land-content__border_line 
	width: 5px
	height: 54px
	background-color: #1f9951
	margin-left: -2px
	margin-top: 0
	transition: all .4s ease-in-out

.land-content__right-side
    display: flex
    justify-content: center
    position: relative
    height: 300px
    width: 65%
    overflow: hidden

.land-right-side__item 
	font-family: ProximaNovaLight
	position: absolute
	left: 0
	height: 300px
	width: 100%
	transition: all .5s ease-in-out
	margin-top: -350px
	opacity: 0
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column 

.land-right-side__item_active
	margin-top: 0
	opacity: 1
	transition: all .6s ease-in-out

.land-right-side__title
	text-align: center
	font-family: ProximaNovaSemibold
	font-size: 36px
	font-weight: 800
	color: #333

.land-right-side__description
	display: inline-table
	font-family: ProximaNovaLight
	font-size: 18px
	line-height: 25px
	text-align: center
	color: #333
	font-weight: 500
	padding: 0 30px

.land-content__wrapper_mobile-slider
	display: none
	width: 80vw
	margin: 0 auto
	text-align: center
	div
		.slick-track
			white-space: normal
			
	.slick-dots
		display: flex
		left: 0
		flex-wrap: wrap
		justify-content: space-between
		height: 32px
		top: -86px
		li
			width: 10%
			min-width: 36px
			height: 36px
			margin-bottom: 5px
			button
				&:before
					width: 32px
					height: 32px
	.arrow
		width: 5px
		height: 5px


.land-content__mobile-slider_icon-container
	margin: auto
	width: 64px
	height: 64px

.land-content__mobile-slider_icon
	width: 100%
	height: auto

.land-content__mobile-slider_item
	width: 80vw
	outline: none

.land-content__mobile-slider_title
	font-size: 36px

.land-content__mobile-slider_description
	font-family: ProximaNovaLight, sans-serif
	font-size: 18px
	line-height: 25px
	text-align: center
	color: #333
	font-weight: 500

.land-content__mobile-slider_timesheet

.land-content__mobile-slider_checklist
	.arrow
		box-shadow: 1px -1px 0 1px #1f9951 inset !important
		&:hover
			box-shadow: 2px -2px 0 2px #1f9951 inset !important
	.slick-dots
		:nth-child(1)
			button
				&:before
					content: ''
					background-image: url("../img/content/checklist/сreateСhecklists.png")
					background-size: cover

		:nth-child(2)
			button
				&:before
					content: ''
					background-image: url("../img/content/checklist/createItems.png")
					background-size: cover
		:nth-child(3)
			button
				&:before
					content: ''
					background-image: url("../img/content/checklist/edit.png")
					background-size: cover
		:nth-child(4)
			button
				&:before
					content: ''
					background-image: url("../img/content/checklist/delete.png")
					background-size: cover
		:nth-child(5)
			button
				&:before
					content: ''
					background-image: url("../img/content/checklist/completed.png")
					background-size: cover
		:nth-child(6)
			button
				&:before
					content: ''
					background-image: url("../img/content/checklist/dependence.png")
					background-size: cover
		:nth-child(7)
			button
				&:before
					content: ''
					background-image: url("../img/content/checklist/minimize.png")
					background-size: cover

.land-content__mobile-slider_badges

.land-content__mobile-slider_project

@media screen and (max-width: 1024px)
	.land-content__left-side
		width: 35%

@media screen and (max-width: 768px)
	.land-content__left-side
		width: 40%
	.land-content__right-side
		width: 60%
	.land-right-side__title, .land-content__mobile-slider_title
		font-size: 28px

@media screen and (max-width: 720px)
	.s-land-content
		padding-top: 93px
		padding-bottom: 40px
	.land-content__wrapper
		display: none
	.land-content__wrapper_mobile-slider
		display: flex
		.arrow-right_land-content, .arrow-left_land-content
			&.arrow
				border: none !important
				border-width: 0 !important
				top: 10% !important
		.arrow-right_land-content
			left: 10px !important
			margin-left: -30px !important
		.arrow-left_land-content
			left: initial
			right: 10px !important
			margin-right: -30px !important

@media screen and (max-width: 480px), (max-height: 480px)
	.s-land-content
		padding-bottom: 0
		.l-wrap-wide
			padding-bottom: 0
	.land-content__wrapper_mobile-slider
		&.slick-slider
			margin-bottom: 0
		.slick-dots
			li
				min-width: 24px
				height: 24px
				button
					&:before
						width: 24px
						height: 24px
	.land-content__mobile-slider_title
		font-size: 22px
	.arrow-right_land-content
		transform: rotate(45deg)
		left: 0
		margin-left: -15px
	.arrow-right_land-content, .arrow-left_land-content
		top: 10%
		&.arrow
			display: block
			position: absolute
			padding: 0.25rem
			transition: .2s
	.arrow-left_land-content		
		transform: rotate(225deg)
		right: 0
		margin-right: -15px
	