
{{{icons}}}

<section class="s-land-content">
    <div class="l-wrap-wide u-flex">
        <div class="land-content__wrapper">
            <div class="land-content__left-side">
                <div class="land-content__left-side_items">
                    {{#each items}}
                        <div class="land-left-side__item {{#if active}}land-left-side__item_active{{/if}}">
                            <div class="land-content__icon land-content__icon-small {{#if active}}land-content__icon_active{{/if}}">
                            <svg viewBox="0 0 64 64">
                                <g>
                                     <use xlink:href="#{{iconId}}"></use>
                                </g>
                            </svg>
                            </div>
                            {{iconTitle}}
                        </div>
                    {{/each}}
                </div>
                <div class="land-content__border">
                    <div class="land-content__border_line"></div>
                </div>
            </div>
            <div class="land-content__right-side">
                {{#each items}}
                    <div class="land-right-side__item {{#if active}}land-right-side__item_active{{/if}}">
                        <div class="land-content__icon land-content__icon_big">
                            <svg viewBox="0 0 64 64">
                                <g>
                                     <use xlink:href="#{{iconId}}"></use>
                                </g>
                            </svg>
                        </div>
                        <h1 class="land-right-side__title">{{contentTitle}}</h1>      
                        <p class="land-right-side__description">{{contentDescription}}</p>
                    </div>
                {{/each}}
            </div>
        </div>

        <div class="land-content__wrapper_mobile-slider {{sliderClass}}">
            {{#each items}}
                <div class="land-content__mobile-slider_item">
                    <div class="land-content__mobile-slider_icon-container">
                        <img class="land-content__mobile-slider_icon" src="{{iconPath}}">
                        <!-- svg не отображается в IE после обновления страницы -->
                    </div>
                    <h1 class="land-content__mobile-slider_title">{{contentTitle}}</h1>
                    <p class="land-content__mobile-slider_description">{{contentDescription}}</p>
                </div>
           {{/each}}
        </div>
    </div>
</section>