﻿@charset "UTF-8";
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Remove margin
 */
figure {
  margin: 0;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Blockquote
   ========================================================================== */
blockquote {
  margin: 0;
}

@font-face {
  font-family: ProximaNova;
  src: local("Proxima Nova Regular"), url("../fonts/Proximanova/proximanova-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ProximaNovaBold;
  src: local("Proxima Nova Bold"), url("../fonts/Proximanova/proximanova-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: ProximaNovaLight;
  src: local("Proxima Nova Light"), url("../fonts/Proximanova/proximanova-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: ProximaNovaExtrabold;
  src: local("Proxima Nova Extrabold"), url("../fonts/Proximanova/proximanova-extrabld.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: ProximaNovaSemibold;
  src: local("Proxima Nova Semibold"), url("../fonts/Proximanova/proximanova-semibold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: ProximaNovaThin;
  src: local("Proxima Nova Thin"), url("../fonts/Proximanova/ProximaNovaT-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

.l-wrap-thin {
  max-width: 665px;
  padding: 30px 20px;
  margin: 0 auto;
}

.l-wrap-normal {
  max-width: 850px;
  padding: 0 15px;
  margin: 0 auto;
}

.l-wrap-wide {
  max-width: 1024px;
  padding: 20px 10px;
  margin: 0 auto;
}

.u-flex {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html, body {
  height: 100%;
}

.page__wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

* html .page__wrapper {
  height: 100%;
}

.page__buffer {
  height: 50px;
}

.slick-list, .slick-slider, .slick-track {
  position: relative;
  display: block;
}

.slick-loading .slick-slide, .slick-loading .slick-track {
  visibility: hidden;
}

.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  top: 0;
  left: 0;
}

.slick-track:after, .slick-track:before {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
.slick-dots, .slick-next, .slick-prev {
  position: absolute;
  display: block;
  padding: 0;
}

.slick-dots li button:before, .slick-next:before, .slick-prev:before {
  font-family: slick;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-loading .slick-list {
  background: url(ajax-loader.gif) center center no-repeat #fff;
}

@font-face {
  font-family: slick;
  font-weight: 400;
  font-style: normal;
  src: url(fonts/slick.eot);
  src: url(fonts/slick.eot?#iefix) format("embedded-opentype"), url(fonts/slick.woff) format("woff"), url(fonts/slick.ttf) format("truetype"), url(fonts/slick.svg#slick) format("svg");
}

.slick-next, .slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;
}

.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
  color: transparent;
  outline: 0;
  background: 0 0;
}

.slick-next:focus:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-prev:hover:before {
  opacity: 1;
}

.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
  opacity: .25;
}

.slick-next:before, .slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #fff;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: 'в†ђ';
}

.slick-next:before, [dir=rtl] .slick-prev:before {
  content: 'в†’';
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}

[dir=rtl] .slick-next:before {
  content: 'в†ђ';
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  bottom: -25px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.slick-dots li button:focus, .slick-dots li button:hover {
  outline: 0;
}

.slick-dots li button:focus:before, .slick-dots li button:hover:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: 'вЂў';
  text-align: center;
  opacity: .25;
  color: #000;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #000;
}
.s-content {
  position: relative;
  background-color: #ffffff;
  color: #333333;
  padding-bottom: 80px;
}

.content__title {
  font-family: ProximaNovaSemibold, sans-serif;
  font-size: 24px;
  text-align: left;
  margin: 80px 0 50px 0;
}

.content__title_main {
  font-size: 36px;
  text-align: center;
}

.content__text {
  font-family: ProximaNovaLight, sans-serif;
  font-size: 18px;
  text-align: justify;
  font-weight: 600;
}

.content__text_main {
  font-size: 18px;
  font-weight: 400;
}

.content__text_first-offset {
  padding-top: 70px;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  right: 15px;
  bottom: -45px;
  display: block;
  width: 44px;
  height: 44px;
  background-color: #d9d9d9;
  border-radius: 50%;
  -webkit-transition: bottom .25s ease;
  transition: bottom .25s ease;
}

.back-to-top:before {
  position: absolute;
  display: block;
  top: 18px;
  right: 16px;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  content: "";
}

.back-to-top_visible {
  bottom: 25px;
  -webkit-transition: bottom .25s ease;
  transition: bottom .25s ease;
}

.back-to-top_pinned {
  position: absolute;
  bottom: 25px;
}

.s-footer {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 30px;
  font-size: 14px;
  line-height: 1.35;
  font-weight: 400;
  color: #fff;
}

.s-footer__copyright {
  max-width: 300px;
  font-family: ProximaNovaLight, sans-serif;
  color: #fff;
}

.s-footer__content {
  padding: 0 30px;
  text-align: left;
}

.s-footer__content-link {
  font-family: ProximaNovaSemibold, sans-serif;
  cursor: pointer;
  margin: 0 20px 14px 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.s-footer__content-link:not(:last-of-type):after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: 0;
  bottom: 2px;
  margin: auto;
  background: #5e5e5e;
}

.s-footer__content-link:before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  background: #5e5e5e;
}

.s-footer__content-link--text {
  color: #fff;
}

.s-footer__copyright-mail-address {
  color: #c5d1ff;
}

@media screen and (max-width: 544px) {
  .s-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .s-footer__copyright {
    text-align: center;
    margin-bottom: 10px;
  }
  .s-footer__content {
    text-align: center;
  }
}

.s-heading {
  height: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-heading_timesheet {
  background: url(../img/content/timesheet/timesheet_bg.png) no-repeat;
  background-size: cover;
}

.s-heading_checklist {
  background: url(../img/content/checklist/checklist_bg.png) no-repeat;
  background-size: cover;
}

.s-heading_badges {
  background: url(../img/content/badges/badges_bg.png) no-repeat;
  background-size: cover;
}

.s-heading_project {
  background: url(../img/content/project/project_bg.png) no-repeat;
  background-size: cover;
}

.heading__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #ffffff;
  max-width: 765px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading__content_title {
  font-family: ProximaNovaSemibold, sans-serif;
  font-size: 92px;
  margin: 0;
  max-width: 765px;
}

.heading__content_subtitle {
  position: relative;
  display: inline-table;
  font-size: 38px;
  font-family: ProximaNovaThin, sans-serif;
  margin: 38px auto;
  text-decoration: none;
  color: #ffffff;
  opacity: .9;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.heading__content_subtitle:hover:after {
  content: "";
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: -3px;
  left: 0;
}

@media screen and (max-width: 768px) {
  .s-heading {
    height: 350px;
  }
  .heading__content_title {
    font-size: 72px;
  }
  .heading__content_subtitle {
    font-size: 24px;
    margin: 24px auto;
  }
}

@media screen and (max-width: 544px) {
  .s-heading {
    height: 280px;
  }
  .heading__content_title {
    font-size: 42px;
  }
  .heading__content_subtitle {
    font-size: 20px;
    margin: 20px auto;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #0c1a24;
}

.s-main-page-background__wrapper {
  height: 98vh;
  min-height: 890px;
  padding-bottom: 42px;
}

.s-main-page-preorder__content-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 51px;
}

.s-main-page-descriptions {
  padding-top: 0;
  padding-bottom: 60px;
}

@-webkit-keyframes scrollDown {
  0% {
    top: 12px;
    opacity: 0;
  }
  15% {
    top: 10px;
    opacity: 1;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  45% {
    top: 28px;
    opacity: 1;
  }
  100% {
    top: 28px;
    opacity: 0;
  }
}

@keyframes scrollDown {
  0% {
    top: 12px;
    opacity: 0;
  }
  15% {
    top: 10px;
    opacity: 1;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  45% {
    top: 28px;
    opacity: 1;
  }
  100% {
    top: 28px;
    opacity: 0;
  }
}

.scroll__down {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scroll__down_button {
  position: absolute;
  top: 25px;
  left: 50%;
  opacity: 0.7;
  bottom: 0;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
  border: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.scroll__mouse {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 30px;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 20px;
}

.scroll__wheel {
  margin-top: -6px;
  position: absolute;
  left: 6px;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: scrollDown 2.5s infinite;
          animation: scrollDown 2.5s infinite;
}

.s-main-page-scroll-down-dude__wrapper {
  display: none;
}

@media screen and (min-width: 1231px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1230px) and (min-width: 900px) and (max-height: 700px) {
  .scroll__down_button {
    bottom: -10vh;
  }
}

@media screen and (max-width: 1230px) and (min-width: 900px) {
  .container {
    width: 850px;
    margin: 0 auto;
  }
  .s-main-page-background__wrapper {
    height: auto;
    min-height: 560px;
    padding-bottom: 42px;
  }
  .s-main-page-descriptions {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 899px) and (min-width: 481px) and (max-height: 700px) {
  .scroll__down_button {
    bottom: -10vh;
  }
}

@media screen and (max-width: 899px) and (min-width: 481px) {
  .container {
    width: 90vw;
    margin: 0 auto;
  }
  .scroll__down_button {
    margin: 0 auto 35px;
  }
  .s-main-page-descriptions {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .s-main-page-background__wrapper {
    height: auto;
    min-height: 425px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .s-main-page-scroll-down-dude__wrapper {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 25px;
  }
  .scroll-down-dude {
    display: inline-block;
    width: 120px;
    height: 40px;
    position: relative;
    z-index: 20;
  }
  .scroll__down_button {
    display: none;
  }
  .scroll-down-dude:before,
  .scroll-down-dude:after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
  }
  .scroll-down-dude:before {
    -webkit-animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
            animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  }
  .scroll-down-dude:after {
    -webkit-animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
            animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  }
  @-webkit-keyframes down-arrow-before {
    50% {
      -webkit-transform: rotate(45deg) translate(70%, 70%);
              transform: rotate(45deg) translate(70%, 70%);
    }
    100% {
      -webkit-transform: rotate(45deg) translate(70%, 70%);
              transform: rotate(45deg) translate(70%, 70%);
    }
  }
  @keyframes down-arrow-before {
    50% {
      -webkit-transform: rotate(45deg) translate(70%, 70%);
              transform: rotate(45deg) translate(70%, 70%);
    }
    100% {
      -webkit-transform: rotate(45deg) translate(70%, 70%);
              transform: rotate(45deg) translate(70%, 70%);
    }
  }
  @-webkit-keyframes down-arrow-after {
    50% {
      -webkit-transform: rotate(45deg) translate(110%, 110%);
              transform: rotate(45deg) translate(110%, 110%);
      opacity: 0;
    }
    51% {
      -webkit-transform: rotate(45deg) translate(-130%, -130%);
              transform: rotate(45deg) translate(-130%, -130%);
    }
    100% {
      -webkit-transform: rotate(45deg) translate(-70%, -70%);
              transform: rotate(45deg) translate(-70%, -70%);
      opacity: 1;
    }
  }
  @keyframes down-arrow-after {
    50% {
      -webkit-transform: rotate(45deg) translate(110%, 110%);
              transform: rotate(45deg) translate(110%, 110%);
      opacity: 0;
    }
    51% {
      -webkit-transform: rotate(45deg) translate(-130%, -130%);
              transform: rotate(45deg) translate(-130%, -130%);
    }
    100% {
      -webkit-transform: rotate(45deg) translate(-70%, -70%);
              transform: rotate(45deg) translate(-70%, -70%);
      opacity: 1;
    }
  }
  .s-main-page-preorder__content-wrapper {
    margin-top: 0;
  }
  .scroll__down_button {
    margin: 65px auto 0;
  }
  .container {
    width: 83vw;
    margin: 0 auto;
  }
  .s-main-page-descriptions {
    margin-top: -20px;
    padding-top: 0;
    padding-bottom: 30px;
  }
  .s-main-page-background__wrapper {
    height: auto;
    min-height: 425px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1231px) {
  .scroll__down_button {
    top: -110px;
  }
}

@media screen and (min-width: 1025px) and (max-height: 661px) {
  .s-main-page-background__wrapper {
    height: 660px;
  }
  .scroll__down_button {
    bottom: -30%;
  }
}

.s-main-page-pluginLogo__content__box-shadow--time {
  background: url("../img/content/mainpage/shadow1.png");
  opacity: 0;
  width: 340px;
  height: 140px;
  margin-left: -25px;
  margin-top: -75px;
  position: absolute;
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}

.s-main-page-pluginLogo__content__box-shadow--checklist {
  background: url("../img/content/mainpage/shadow2.png");
  opacity: 0;
  width: 340px;
  height: 140px;
  margin-left: -25px;
  margin-top: -75px;
  position: absolute;
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}

.s-main-page-pluginLogo__content__box-shadow--badges {
  background: url("../img/content/mainpage/shadow3.png");
  opacity: 0;
  width: 340px;
  height: 140px;
  margin-left: -25px;
  margin-top: -75px;
  position: absolute;
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}

.s-main-page-pluginLogo__content__box-shadow--project {
  background: url("../img/content/mainpage/shadow4.png");
  opacity: 0;
  width: 340px;
  height: 140px;
  margin-left: -25px;
  margin-top: -75px;
  position: absolute;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.s-main-page-pluginLogo__content__box-shadow--active {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

@media screen and (max-width: 1230px) and (min-width: 900px) {
  .s-main-page-pluginLogo__content__box-shadow--project {
    background-size: 100% 100%;
    width: 250px;
    margin-left: -15px;
  }
  .s-main-page-pluginLogo__content__box-shadow--badges {
    background-size: 100% 100%;
    width: 250px;
    margin-left: -15px;
  }
  .s-main-page-pluginLogo__content__box-shadow--checklist {
    background-size: 100% 100%;
    width: 250px;
    margin-left: -15px;
  }
  .s-main-page-pluginLogo__content__box-shadow--time {
    background-size: 100% 100%;
    width: 250px;
    margin-left: -15px;
  }
}

button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.s-main-page-preorder__button-wrapper {
  display: inline-block;
}

.b-button {
  overflow: hidden;
  -webkit-transition: background-color 500ms, -webkit-transform 100ms;
  transition: background-color 500ms, -webkit-transform 100ms;
  transition: background-color 500ms, transform 100ms;
  transition: background-color 500ms, transform 100ms, -webkit-transform 100ms;
}

.s-main-page-preorder__button-wrapper > .b-button {
  overflow: hidden !important;
  min-width: 275px;
  border-radius: 3px;
  background-color: #20924f;
  padding: 20px 35px 20px 33px;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
  line-height: 0.813;
  cursor: pointer;
}

.b-button:hover {
  background-color: #01BAEF;
}

.b-button:hover .b-button__icon-wrapper {
  background-color: #01BAEF;
}

.s-main-page-preorder__button-wrapper > .b-button .b-button__icon--animation {
  border-radius: 100%;
  -webkit-animation: ripple 0.6s linear infinite;
          animation: ripple 0.6s linear infinite;
}

.b-button__content-wrapper {
  padding-top: 3px;
}

.b-button__icon-wrapper {
  position: relative;
  margin-left: -9px;
  margin-bottom: -20px;
  top: -4px;
  width: 20px;
  height: 20px;
  background-color: #64b484;
}

.b-button__content-wrapper span {
  letter-spacing: 1px;
  padding-left: 66px;
}

.s-main-page__content__item--firstHeader {
  color: #fff;
  font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
  font-size: 49px;
  margin-left: -4px;
  font-weight: 500;
  letter-spacing: 0.8px;
  position: relative;
}

.s-main-page__content__item--firstHeader-pulse {
  position: absolute;
  top: 0;
  left: 0;
}

.s-main-page__content__item--header {
  color: #fff;
  font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
  font-size: 36px;
  font-weight: 500;
  display: inline;
  padding-left: 44px;
}

.s-main-page__content__item-wrapper {
  padding-bottom: 31px;
}

.s-main-page__content__item--header-icon {
  opacity: 0;
  width: 30px;
  margin-top: 5px;
  position: absolute;
}

.s-main-page__content__item--header-icon_active {
  opacity: 1;
  -webkit-animation: fadeInLeft 1.5s ease-in-out;
          animation: fadeInLeft 1.5s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.s-main-page__content__links-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}

.s-main-page__content__item-wrapper:nth-child(2) .s-main-page__content__item--header span {
  color: #7989cb;
}

.s-main-page__content__item-wrapper .s-main-page__content__item--header-logo {
  width: 30px;
  height: 30px;
  display: inline;
}

.s-main-page__content__item-wrapper:nth-child(3) .s-main-page__content__item--header span {
  color: #33e27c;
}

.s-main-page__content__item-wrapper:nth-child(4) .s-main-page__content__item--header span {
  color: #f18649;
}

.s-main-page__content__item-wrapper:nth-child(5) .s-main-page__content__item--header span {
  color: #4ad7de;
}

.s-main-page__content__item--firstHeader-wrapper {
  padding-bottom: 3px;
  width: 100%;
  position: relative;
  height: 99px;
}

.s-main-page__content__item--header-wrapper {
  padding-bottom: 42px;
  width: 100%;
  position: relative;
  margin-top: -2px;
}

.s-main-page__content__item--body {
  color: #fff;
  font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3333em;
  text-align: justify;
}

.links-wrapper__text {
  color: #fff;
}

.links-wrapper__text-green {
  font-family: ProximaNovaSemibold, sans-serif;
  color: #20924f;
  font-weight: 500;
}

.s-main-page__content__button {
  top: 0;
  height: 35px;
  line-height: 35px;
  border-radius: 2px;
  position: absolute;
  font-size: 14px;
}

.s-main-page__content__button_link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.s-main-page__content__button_install {
  width: 163px;
  background-color: #20924f;
  right: 120px;
  font-family: ProximaNovaSemibold, sans-serif;
  text-align: right;
}

.s-main-page__content__button_install:hover {
  opacity: 0.6;
}

.s-main-page__content__button_install-content {
  color: #fff;
  padding-right: 16px;
}

.s-main-page__content__button_read-more-content {
  color: #000;
}

.s-main-page__content__button_read-more {
  width: 111px;
  background-color: #d5d5d5;
  right: 0;
  text-align: center;
  font-family: ProximaNovaRegular, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.s-main-page__content__button_read-more:hover {
  opacity: 0.6;
}

.content__button_logo {
  position: absolute;
  left: 16px;
  top: 9px;
}

.s-main-page__content__item-wrapper {
  color: #fff;
  opacity: 1;
  /*opacity: 0.2*/
}

.s-main-page__content__item--firstHeader-svg {
  position: absolute;
  top: -113px;
  left: 120px;
  height: 100px;
}

.svg-k-small {
  margin-left: 5px;
  display: inline-block;
  float: left;
  width: 41px;
  height: 60px;
  margin-top: 113px;
  padding-left: 2px;
  font-size: 46px;
  font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
}

.svg-i-small {
  letter-spacing: 15px;
  display: inline-block;
  float: left;
  width: 23px;
  height: 145px;
  font-size: 46px;
  margin-left: -5px;
  margin-top: 70px;
  font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
}

.svg-t-small {
  letter-spacing: 0px;
  display: inline-block;
  float: left;
  width: 34px;
  height: 100px;
  margin-top: 93px;
  font-size: 46px;
  margin-left: -14px;
  font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
}

.s-main-page__content__item--firstHeader-tm {
  position: absolute;
  top: 2px;
  left: 197px;
  font-size: 10px;
  font-weight: 500;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 668px) {
  .s-main-page__content__button_install {
    top: 50px;
    left: 0;
  }
  .s-main-page__content__button_read-more {
    top: 50px;
    left: 170px;
  }
  .s-main-page__content__links-wrapper {
    left: 0;
    top: 50px;
  }
}

@media screen and (max-width: 480px) {
  .s-main-page__content__item-wrapper .s-main-page__content__item--header-logo {
    display: none;
  }
  .s-main-page__content__item--firstHeader-wrapper {
    padding-top: 2px;
    padding-bottom: 44px;
  }
  .s-main-page__content__item--header-icon {
    width: 24px;
    margin-top: 0;
    position: absolute;
  }
  .s-main-page__content__item--header {
    font-size: 25px;
    padding-left: 0;
  }
  .s-main-page__content__item--firstHeader {
    font-size: 49px;
  }
  .s-main-page__content__item--firstHeader-svg {
    position: absolute;
    top: -110px;
    left: 130px;
    height: 100px;
  }
  .svg-k-small {
    width: 41px;
    height: 60px;
    margin-top: 107px;
    margin-left: -9px;
    font-size: 49px;
    display: inline-block;
    float: left;
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
  }
  .svg-i-small {
    width: 23px;
    height: 146px;
    font-size: 49px;
    margin-left: -5px;
    margin-top: 64px;
    display: inline-block;
    float: left;
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
  }
  .svg-t-small {
    display: inline-block;
    float: left;
    width: 34px;
    height: 91px;
    margin-top: 91px;
    font-size: 49px;
    margin-left: -13px;
    font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
  }
  .s-main-page__content__item--firstHeader-tm {
    left: 200px;
    font-size: 6px;
    font-weight: 300;
  }
}

.svg-k {
  letter-spacing: -7px;
  display: inline-block;
  float: left;
  width: 100px;
  height: 200px;
  font-size: 135px;
  font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
  margin-top: 17px;
}

.svg-i {
  letter-spacing: 25px;
  display: inline-block;
  float: left;
  width: 60px;
  height: 200px;
  font-size: 135px;
  font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
  margin-top: 17px;
  margin-left: -11px;
}

.svg-t {
  letter-spacing: -10px;
  display: inline-block;
  float: left;
  width: 80px;
  height: 198px;
  font-size: 135px;
  font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
  margin-left: -32px;
  margin-top: 17px;
}

.s-main-page-logo__content-wrapper {
  text-align: center;
  display: table;
  width: 100%;
  padding-top: 130px;
}

.s-main-page-logo__content {
  display: inline-block;
  width: 610px;
  position: relative;
  padding-left: 90px;
}

.s-main-page-logo__content h1 {
  padding-left: 3px;
  letter-spacing: 2px;
}

.s-main-page-logo__text {
  font-size: 135px;
  color: #fff;
  font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
  float: left;
  padding-top: 40px;
}

.s-main-page-logo__uppertext {
  position: absolute;
  right: 10px;
  font-size: 19px;
  color: #fff;
  font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
  padding-top: 50px;
}

@media screen and (max-width: 1230px) and (min-width: 900px) {
  .s-main-page-logo__content-wrapper {
    padding-top: 50px;
  }
}

@media screen and (max-width: 899px) and (min-width: 551px) {
  .s-main-page-logo__content-wrapper {
    padding-top: 30px;
  }
  .s-main-page-logo__content {
    width: 465px;
    padding-left: 5%;
  }
  .s-main-page-logo__text {
    font-size: 100px;
  }
  .svg-k {
    width: 85px;
    height: 90px;
    font-size: 100px;
    margin-top: 53px;
  }
  .svg-i {
    width: 48px;
    height: 107px;
    font-size: 100px;
    margin-top: 42px;
    margin-left: -11px;
  }
  .svg-t {
    width: 59px;
    height: 132px;
    font-size: 100px;
    margin-left: -25px;
    margin-top: 31px;
  }
  .s-main-page-logo__uppertext {
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) and (min-width: 481px) {
  .s-main-page-logo__content-wrapper {
    padding-top: 30px;
  }
  .s-main-page-logo__content {
    width: 440px;
    padding-left: 12%;
  }
  .s-main-page-logo__text {
    font-size: 90px;
  }
  .svg-k {
    width: 75px;
    height: 90px;
    font-size: 97px;
    margin-top: 44px;
  }
  .svg-i {
    width: 48px;
    height: 100px;
    font-size: 100px;
    margin-top: 38px;
    margin-left: -7px;
  }
  .svg-t {
    width: 59px;
    height: 102px;
    font-size: 100px;
    margin-left: -22px;
    margin-top: 37px;
  }
  .s-main-page-logo__uppertext {
    font-size: 12px;
    right: 20px;
    padding-top: 53px;
  }
}

@media screen and (max-width: 480px) {
  .s-main-page__content__button_install, .s-main-page__content__button_read-more {
    top: 40px;
  }
  .s-main-page__content__item--header-wrapper {
    padding-bottom: 40px;
  }
  .content__button_logo {
    left: 5px;
  }
  .s-main-page-logo__content-wrapper {
    padding-top: 0;
  }
  .s-main-page-logo__content {
    width: 270px;
    padding-left: 39px;
    margin-top: -10px;
  }
  .s-main-page-logo__text {
    font-size: 57px;
    letter-spacing: 1px;
  }
  .svg-k {
    width: 60px;
    height: 60px;
    font-size: 57px;
    margin-top: 43px;
    margin-left: -9px;
  }
  .svg-i {
    width: 24px;
    height: 79px;
    font-size: 57px;
    margin-top: 34px;
  }
  .svg-t {
    width: 52px;
    height: 80px;
    font-size: 59px;
    margin-top: 33px;
    margin-left: -20px;
  }
  .s-main-page-logo__uppertext {
    font-size: 8px;
    padding-top: 44px;
    right: -11px;
  }
}

@media screen and (max-width: 900px) and (min-width: 481px) {
  .s-main-page-wrapper {
    overflow-x: hidden;
  }
  .arrow {
    position: absolute !important;
    padding: 0.5rem !important;
    box-shadow: 1px -1px 0 1px #308488 inset !important;
    -webkit-box-shadow: 2px -2px #308488 inset !important;
    border: solid transparent !important;
    border-width: 0 0 2rem 2rem !important;
    -webkit-transition: 0.2s !important;
    transition: 0.2s !important;
  }
  .arrow:hover {
    box-shadow: 2px -2px 0 2px #308488 inset !important;
    -webkit-box-shadow: 4px -4px #308488 inset !important;
  }
  .arrow-left {
    left: 100%;
    -webkit-transform: rotate(225deg) !important;
            transform: rotate(225deg) !important;
    top: 35% !important;
    right: 0 !important;
    margin-right: -70px !important;
  }
  .arrow-right {
    -webkit-transform: rotate(45deg) !important;
            transform: rotate(45deg) !important;
    top: 35% !important;
    left: 0 !important;
    margin-left: -70px !important;
  }
}

.slick-prev {
  left: initial;
}

.slick-next:before, [dir=rtl] .slick-prev:before, .slick-prev:before {
  content: " ";
}

@media screen and (max-width: 480px) {
  .arrow {
    display: none;
  }
}

.s-main-page-pluginLogo__content-wrapper {
  text-align: center;
  display: block;
  width: 100%;
  padding-top: 70px;
  overflow: hidden;
}

.s-main-page-pluginLogo__content-mobile-wrapper {
  text-align: center;
  display: none;
  width: 100%;
  padding-top: 70px;
  overflow: hidden;
}

@media screen and (max-width: 1230px) and (min-width: 901px) {
  .s-main-page-pluginLogo__content-wrapper {
    padding-top: 60px;
    height: 230px;
  }
}

@media screen and (max-width: 900px) and (min-width: 481px) {
  .s-main-page-pluginLogo__content-wrapper {
    position: relative;
    height: 260px;
    display: none;
  }
  .s-main-page-pluginLogo__content-mobile-wrapper {
    display: block;
    position: relative;
    height: 260px;
  }
}

@media screen and (max-width: 480px) {
  .s-main-page-pluginLogo__content-wrapper {
    display: none;
  }
  .s-main-page-pluginLogo__content-mobile-wrapper {
    display: block;
    position: relative;
    height: 200px;
    padding-top: 14px;
  }
}

.s-main-page-pluginLogo__content {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 1231px) {
  .s-main-page-pluginLogo__content {
    padding-left: 21px;
  }
}

@media screen and (max-width: 1230px) and (min-width: 901px) {
  .s-main-page-pluginLogo__content {
    width: 100%;
  }
}

@media screen and (max-width: 900px) and (min-width: 481px) {
  .s-main-page-pluginLogo__content {
    position: absolute;
    left: 0;
    right: 0;
  }
}

.s-main-page-pluginLogo__content__item-wrapper, .s-main-page-pluginLogo__content__item--mobile-wrapper {
  color: #ffffff;
  font-size: 22px;
  vertical-align: middle;
  display: inline-block;
  font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
  font-weight: 100;
  line-height: 1px;
  margin-right: -20px;
}

.s-main-page-pluginLogo__content__item--mobile-wrapper {
  display: none;
}

@media screen and (max-width: 1230px) and (min-width: 901px) {
  .s-main-page-pluginLogo__content__item-wrapper {
    margin-right: -30px;
  }
}

@media screen and (max-width: 900px) {
  .s-main-page-pluginLogo__content__item--mobile-wrapper {
    display: inline-block;
  }
  .s-main-page-pluginLogo__content__item-wrapper {
    display: none;
  }
}

.s-main-page-pluginLogo__content__item-image {
  -webkit-transition: top 0.3s ease-in;
  transition: top 0.3s ease-in;
  position: relative;
  top: 0;
}

.lockedLogo {
  cursor: default;
}

.s-main-page-pluginLogo__content__item-wrapper--active {
  top: -60px;
}

.slick-slide, .s-main-page-pluginLogo__content-slider-img {
  position: relative;
}

.slick-slide:nth-child(1), .s-main-page-pluginLogo__content-slider-img:nth-child(1), .s-main-page-pluginLogo__content-slider-img--safari:nth-child(1) {
  z-index: 8;
}

.slick-slide:nth-child(2), .s-main-page-pluginLogo__content-slider-img:nth-child(2), .s-main-page-pluginLogo__content-slider-img--safari:nth-child(2) {
  z-index: 7;
}

.slick-slide:nth-child(3), .s-main-page-pluginLogo__content-slider-img:nth-child(3), .s-main-page-pluginLogo__content-slider-img--safari:nth-child(3) {
  z-index: 6;
}

.slick-slide:nth-child(4), .s-main-page-pluginLogo__content-slider-img:nth-child(4), .s-main-page-pluginLogo__content-slider-img--safari:nth-child(4) {
  z-index: 5;
}

.slick-slide:nth-child(5), .s-main-page-pluginLogo__content-slider-img:nth-child(5), .s-main-page-pluginLogo__content-slider-img--safari:nth-child(5) {
  z-index: 4;
}

.slick-slide:nth-child(6), .s-main-page-pluginLogo__content-slider-img:nth-child(6), .s-main-page-pluginLogo__content-slider-img--safari:nth-child(6) {
  z-index: 3;
}

.slick-slide:nth-child(7), .s-main-page-pluginLogo__content-slider-img:nth-child(7), .s-main-page-pluginLogo__content-slider-img--safari:nth-child(7) {
  z-index: 2;
}

.slick-slide:nth-child(8), .s-main-page-pluginLogo__content-slider-img:nth-child(8), .s-main-page-pluginLogo__content-slider-img--safari:nth-child(8) {
  z-index: 1;
}

@media screen and (max-width: 1264px) and (min-width: 901px) {
  .s-main-page-pluginLogo__content__item-image {
    width: 230px;
  }
}

@media screen and (max-width: 900px) and (min-width: 481px) {
  .s-main-page-pluginLogo__content .slick-list {
    min-height: 189px;
  }
  .s-main-page-pluginLogo__content-slider-img {
    width: 270px;
    padding-top: 6px;
  }
  .s-main-page-pluginLogo__content-slider-img--safari {
    margin-left: -30px;
    position: relative;
    left: -60px;
    padding-top: 6px;
    width: 245px;
  }
}

@media screen and (max-width: 541px) and (min-width: 481px) {
  .s-main-page-pluginLogo__content .slick-list {
    height: 189px !important;
  }
  .s-main-page-pluginLogo__content-slider-img {
    width: 245px;
  }
  .scroll__down_button {
    margin: 0 auto 30px !important;
  }
}

@media screen and (max-width: 480px) {
  .s-main-page-pluginLogo__content .slick-list {
    min-height: 153px;
  }
  .s-main-page-pluginLogo__content-slider-img {
    width: 200px;
    padding-top: 6px;
  }
  .s-main-page-pluginLogo__content__item-image {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .s-main-page-pluginLogo__content-slider-img--safari {
    position: relative;
    padding-top: 6px;
    width: 245px;
  }
}

.slick-slider .slick-list {
  -webkit-transform: none;
          transform: none;
}

.slick-track {
  font-size: 0;
  white-space: nowrap;
}

.slick-slide {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.slick-initialized .slick-slide {
  display: inline-block;
}

.s-main-page-pluginDesc__content-wrapper {
  text-align: center;
  display: block;
  width: 100%;
  margin-top: -3px;
}

@media screen and (max-width: 899px) and (min-width: 481px) {
  .s-main-page-pluginDesc__content-wrapper {
    padding-top: 25px;
  }
}

@media screen and (max-width: 480px) {
  .s-main-page-pluginDesc__content-wrapper {
    display: none;
  }
}

.s-main-page-pluginDesc__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s-main-page-pluginDesc__content__item-wrapper {
  position: relative;
  color: #ffffff;
  font-size: 22px;
  margin-right: 16px;
  font-family: ProximaNova, Helvetica Neue, Arial, sans-serif;
  font-weight: 100;
}

.s-main-page-pluginDesc__content__item-wrapper:before {
  position: absolute;
  top: 7px;
  left: -15px;
  content: "●";
  font-size: 10px;
  background-color: transparent;
  width: 6px;
  height: 6px;
}

.s-main-page-pluginDesc__content__item-wrapper:nth-child(1):before {
  color: #454e72;
}

.s-main-page-pluginDesc__content__item-wrapper:nth-child(2):before {
  color: #209a53;
}

.s-main-page-pluginDesc__content__item-wrapper:nth-child(3):before {
  color: #aa501d;
}

.s-main-page-pluginDesc__content__item-wrapper:nth-child(4):before {
  color: #37989c;
}

.s-main-page-pluginDesc__content__item {
  margin-right: 10px;
}

.s-main-page-pluginDesc__content__item:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 94%;
  border-bottom: 1px dashed;
  cursor: pointer;
  opacity: 0;
}

.s-main-page-pluginDesc__content__item:hover:before {
  opacity: 1;
}

.content__item_timesheet:before {
  border-color: #454e72;
}

.content__item_checklist:before {
  border-color: #209a53;
}

.content__item_badges:before {
  border-color: #aa501d;
}

.content__item_project:before {
  border-color: #37989c;
}

.s-main-page-pluginDesc__content__item-wrapper a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1230px) and (min-width: 900px) {
  .s-main-page-pluginDesc__content__item-wrapper {
    font-size: 20px;
  }
}

@media screen and (max-width: 899px) and (min-width: 481px) {
  .s-main-page-pluginDesc__content__item-wrapper {
    margin-right: 0;
    padding: 0 60px 10px 60px;
  }
  .s-main-page-pluginDesc__content__item-wrapper:before {
    left: 35px;
  }
  .s-main-page-pluginDesc__content__item {
    margin-right: 0;
  }
  .s-main-page-pluginDesc__content__item:before {
    bottom: 7px;
    width: inherit;
    right: 60px;
    left: 60px;
  }
  .s-main-page-pluginDesc__content:nth-child(2) {
    padding-top: 10px;
  }
  .s-main-page-pluginDesc__content__item-wrapper:nth-child(3) {
    display: inline-block;
  }
  .s-main-page-pluginDesc__content__item-wrapper:nth-child(2):after {
    content: " ";
  }
  ._slick-track > .slick-initialized > .slick-list > .slick-track {
    -webkit-transform: translate3d(-292.805px, 0px, 0px) !important;
            transform: translate3d(-292.805px, 0px, 0px) !important;
  }
}

.b-modal {
  display: none;
}

.b-modal--subscription .b-modal__content {
  padding-bottom: 86px;
}

.b-modal--subscription .b-modal-form__main {
  margin-bottom: 80px;
}

.b-modal__wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-modal__content {
  width: calc(90% - 50px);
  max-width: 848px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 62px;
  padding-bottom: 80px;
  background: #fff;
  position: relative;
}

@media screen and (max-width: 768px) {
  .b-modal__content {
    width: calc(90% - 20px);
    max-height: calc(90% - 20px);
    padding: 10px 20px;
  }
}

.b-modal__close {
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 100%;
  margin-left: 8px;
  margin-bottom: 3px;
  background: transparent;
  border: none;
}

@media screen and (max-width: 768px) {
  .b-modal__close {
    bottom: auto;
    left: auto;
    margin-left: 0;
    margin-bottom: 0;
    right: 10px;
    top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .b-modal__close svg path {
    fill: #000;
  }
}

.b-modal__form {
  margin-bottom: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.b-modal__form.has-loading {
  opacity: 0.3;
}

.b-modal__title {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .b-modal__title {
    font-size: 20px;
    margin: 10px;
  }
}

.b-modal__subtitle {
  text-align: center;
  margin-top: 26px;
}

@media screen and (max-width: 768px) {
  .b-modal__subtitle {
    margin-top: 10px;
  }
}

.b-modal__thanks {
  display: none;
}

.b-modal-form__main {
  width: 433px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
  .b-modal-form__main {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.b-modal-form__row + .b-modal-form__row {
  margin-top: 24px;
}

.b-modal-form__group-input {
  border: 1px solid #c2c2c2;
  width: 100%;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-modal-form__input-group-addon {
  width: 66px;
  text-align: center;
  display: inline-block;
  line-height: 0;
}

.b-modal-form__field-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: #545454;
}

.b-modal-form__checkbox-group:after {
  content: '';
  display: table;
  clear: both;
}

.b-modal-form__checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.b-modal-form__checkbox-control {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}

.b-modal-form__checkbox-tick {
  width: 30px;
  height: 30px;
  border: 1px solid #c2c2c2;
  display: block;
  position: relative;
}

.b-modal-form__checkbox-tick:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 12px;
  height: 12px;
  background: #5e5e5e;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.b-modal-form__checkbox-control:checked + .b-modal-form__checkbox-tick:before {
  opacity: 1;
}

.b-modal-form__checkbox-text {
  vertical-align: middle;
  display: inline-block;
  font-size: 16px;
  color: #545454;
  line-height: 1.2;
}

.b-modal-form__checkbox + .b-modal-form__checkbox-text {
  margin-left: 34px;
}

@media screen and (max-width: 768px) {
  .b-modal-form__checkbox + .b-modal-form__checkbox-text {
    margin-left: 10px;
  }
}

.b-modal-form__footer {
  text-align: center;
}

.b-btn {
  opacity: .9;
  color: #fff;
  border-radius: 13px;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
  width: 210px;
  border: 0 none;
  white-space: nowrap;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.b-btn:hover:enabled {
  background-color: #3caa3c;
}

.b-btn:disabled {
  opacity: .6;
}

.b-modal__content_frame {
  position: relative;
  width: 1024px;
  padding: 0;
}

.s-suggestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 170px;
  background: url(../img/content/suggestions_bg.png) no-repeat;
  background-size: cover;
}

.s-suggestions__title {
  font-family: 'Proxima Nova Light', sans-serif;
  font-size: 20px;
  color: #fff;
}

.s-suggestions__text {
  margin-top: 70px;
}

.s-suggestions__link {
  color: #fff;
}

.s-land-content {
  background-color: #fff;
  padding: 80px 0;
}

.land-content__icon {
  fill: rgba(51, 51, 51, 0.5);
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 20px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.land-content__icon_active {
  fill: #1f9951;
}

.land-content__icon_big {
  margin-right: 0;
  width: 64px;
  height: 64px;
  fill: #1f9951;
}

.land-content__wrapper {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.land-content__left-side {
  position: relative;
  height: 70%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.land-left-side__item {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 34px;
  color: rgba(51, 51, 51, 0.5);
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.land-left-side__item:hover {
  color: #333333;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.land-left-side__item:hover > .icon {
  fill: #333;
}

.land-left-side__item_active {
  color: #333333;
}

.land-left-side__item_active:hover > .icon {
  fill: #e74c3c;
}

.land-content__border {
  position: absolute;
  right: 5px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(51, 51, 51, 0.2);
}

.land-content__border_line {
  width: 5px;
  height: 54px;
  background-color: #1f9951;
  margin-left: -2px;
  margin-top: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.land-content__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 300px;
  width: 65%;
  overflow: hidden;
}

.land-right-side__item {
  font-family: ProximaNovaLight;
  position: absolute;
  left: 0;
  height: 300px;
  width: 100%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  margin-top: -350px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.land-right-side__item_active {
  margin-top: 0;
  opacity: 1;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.land-right-side__title {
  text-align: center;
  font-family: ProximaNovaSemibold;
  font-size: 36px;
  font-weight: 800;
  color: #333;
}

.land-right-side__description {
  display: inline-table;
  font-family: ProximaNovaLight;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #333;
  font-weight: 500;
  padding: 0 30px;
}

.land-content__wrapper_mobile-slider {
  display: none;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

.land-content__wrapper_mobile-slider div .slick-track {
  white-space: normal;
}

.land-content__wrapper_mobile-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 32px;
  top: -86px;
}

.land-content__wrapper_mobile-slider .slick-dots li {
  width: 10%;
  min-width: 36px;
  height: 36px;
  margin-bottom: 5px;
}

.land-content__wrapper_mobile-slider .slick-dots li button:before {
  width: 32px;
  height: 32px;
}

.land-content__wrapper_mobile-slider .arrow {
  width: 5px;
  height: 5px;
}

.land-content__mobile-slider_icon-container {
  margin: auto;
  width: 64px;
  height: 64px;
}

.land-content__mobile-slider_icon {
  width: 100%;
  height: auto;
}

.land-content__mobile-slider_item {
  width: 80vw;
  outline: none;
}

.land-content__mobile-slider_title {
  font-size: 36px;
}

.land-content__mobile-slider_description {
  font-family: ProximaNovaLight, sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #333;
  font-weight: 500;
}

.land-content__mobile-slider_checklist .arrow {
  box-shadow: 1px -1px 0 1px #1f9951 inset !important;
}

.land-content__mobile-slider_checklist .arrow:hover {
  box-shadow: 2px -2px 0 2px #1f9951 inset !important;
}

.land-content__mobile-slider_checklist .slick-dots :nth-child(1) button:before {
  content: '';
  background-image: url("../img/content/checklist/сreateСhecklists.png");
  background-size: cover;
}

.land-content__mobile-slider_checklist .slick-dots :nth-child(2) button:before {
  content: '';
  background-image: url("../img/content/checklist/createItems.png");
  background-size: cover;
}

.land-content__mobile-slider_checklist .slick-dots :nth-child(3) button:before {
  content: '';
  background-image: url("../img/content/checklist/edit.png");
  background-size: cover;
}

.land-content__mobile-slider_checklist .slick-dots :nth-child(4) button:before {
  content: '';
  background-image: url("../img/content/checklist/delete.png");
  background-size: cover;
}

.land-content__mobile-slider_checklist .slick-dots :nth-child(5) button:before {
  content: '';
  background-image: url("../img/content/checklist/completed.png");
  background-size: cover;
}

.land-content__mobile-slider_checklist .slick-dots :nth-child(6) button:before {
  content: '';
  background-image: url("../img/content/checklist/dependence.png");
  background-size: cover;
}

.land-content__mobile-slider_checklist .slick-dots :nth-child(7) button:before {
  content: '';
  background-image: url("../img/content/checklist/minimize.png");
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .land-content__left-side {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  .land-content__left-side {
    width: 40%;
  }
  .land-content__right-side {
    width: 60%;
  }
  .land-right-side__title, .land-content__mobile-slider_title {
    font-size: 28px;
  }
}

@media screen and (max-width: 720px) {
  .s-land-content {
    padding-top: 93px;
    padding-bottom: 40px;
  }
  .land-content__wrapper {
    display: none;
  }
  .land-content__wrapper_mobile-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .land-content__wrapper_mobile-slider .arrow-right_land-content.arrow, .land-content__wrapper_mobile-slider .arrow-left_land-content.arrow {
    border: none !important;
    border-width: 0 !important;
    top: 10% !important;
  }
  .land-content__wrapper_mobile-slider .arrow-right_land-content {
    left: 10px !important;
    margin-left: -30px !important;
  }
  .land-content__wrapper_mobile-slider .arrow-left_land-content {
    left: initial;
    right: 10px !important;
    margin-right: -30px !important;
  }
}

@media screen and (max-width: 480px), (max-height: 480px) {
  .s-land-content {
    padding-bottom: 0;
  }
  .s-land-content .l-wrap-wide {
    padding-bottom: 0;
  }
  .land-content__wrapper_mobile-slider.slick-slider {
    margin-bottom: 0;
  }
  .land-content__wrapper_mobile-slider .slick-dots li {
    min-width: 24px;
    height: 24px;
  }
  .land-content__wrapper_mobile-slider .slick-dots li button:before {
    width: 24px;
    height: 24px;
  }
  .land-content__mobile-slider_title {
    font-size: 22px;
  }
  .arrow-right_land-content {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    left: 0;
    margin-left: -15px;
  }
  .arrow-right_land-content, .arrow-left_land-content {
    top: 10%;
  }
  .arrow-right_land-content.arrow, .arrow-left_land-content.arrow {
    display: block;
    position: absolute;
    padding: 0.25rem;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .arrow-left_land-content {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    right: 0;
    margin-right: -15px;
  }
}

.s-land-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 30px;
  font-size: 14px;
  line-height: 1.35;
  font-weight: 400;
  color: #fff;
}

.s-land-footer__backgound_timesheet {
  background-color: #000;
}

.s-land-footer__backgound_checklist {
  background-color: #23352c;
}

.s-land-footer__backgound_badges {
  background-color: #000;
}

.s-land-footer__backgound_project {
  background-color: #000;
}

.s-land-footer__copyright {
  max-width: 300px;
  font-family: ProximaNovaLight, sans-serif;
  color: #fff;
}

.s-land-footer__content {
  padding: 0 30px;
  text-align: left;
}

.s-land-footer__content-link:nth-of-type(1):after {
  cursor: default;
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: 0;
  bottom: 2px;
  margin: auto;
  background: #5e5e5e;
}

.s-land-footer__content-link {
  font-family: ProximaNovaSemibold, sans-serif;
  cursor: pointer;
  margin: 0 20px 14px 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.s-land-footer__content-link:hover:before {
  background: #fff;
}

.s-land-footer__content-link:before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  background: #5e5e5e;
}

.s-land-footer__copyright-mail-address-color_timesheet {
  color: #fff;
}

.s-land-footer__copyright-mail-address-color_checklist {
  color: #34dc7a;
}

.s-land-footer__copyright-mail-address-color_badges {
  color: #fff;
}

.s-land-footer__copyright-mail-address-color_project {
  color: #fff;
}

.s-land-footer__content-link-updates {
  margin-left: 40px;
}

.s-land-footer__content-link-updates:before {
  background: #2ea73f;
}

.s-land-footer__content-link-updates:hover {
  color: #56c456;
}

.s-land-footer__content-link-updates:hover:before {
  background: #56c456;
}

.s-land-footer__content-link-updates-color_timesheet {
  color: #fff;
}

.s-land-footer__content-link-updates-color_checklist {
  color: #2ea73f;
}

.s-land-footer__content-link-updates-color_badges {
  color: #fff;
}

.s-land-footer__content-link-updates-color_project {
  color: #fff;
}

@media screen and (max-width: 1012px) {
  .s-land-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .s-land-footer__copyright {
    text-align: center;
    margin-bottom: 27px;
  }
  .s-land-footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: center;
    padding: 0;
    width: 100%;
  }
  .s-land-footer__content-link {
    display: inline-table;
    margin: 7px auto;
  }
  .s-land-footer__content-link:nth-of-type(1) {
    margin-top: 27px;
  }
  .s-land-footer__content-link:nth-of-type(1):after {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .s-land-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .s-land-footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .s-land-footer {
    padding: 40px 0 0;
  }
  .s-land-footer__content {
    background-color: #000;
    padding-bottom: 29px;
  }
  .s-land-footer__copyright {
    margin-bottom: 54px;
  }
}

.s-land-heading {
  position: relative;
  height: 100%;
  min-height: 100%;
  text-align: center;
}

.s-land-heading .l-wrap-normal {
  padding: 0px 5px;
}

.s-land-heading .u-flex {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.s-land-heading_checklist {
  background: url(../img/content/checklist/checklist_land_bg.png) no-repeat 100%;
  background-size: cover;
}

.land-heading__version {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 95%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  color: #5b6669;
}

.land-heading__version .land-heading__version_item-version {
  background-color: #fff;
}

.land-heading__version_item {
  text-decoration: none;
  color: #5b6669;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.land-heading__version_item:before {
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
  padding-bottom: 40px;
}

.land-heading__version_item:after {
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.land-heading__version_item :nth-of-type(1):before {
  content: 'Changelog';
  left: -50%;
  top: -32px;
  position: absolute;
}

.land-heading__version_item :nth-of-type(1):after, .land-heading__version_item :nth-of-type(2):after {
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  background-color: #5b6669;
  right: 0;
  top: 50%;
}

.land-heading__version_item :nth-of-type(2):before {
  content: 'ver 4.0';
  left: -50%;
  top: -32px;
  position: absolute;
}

.land-heading__version_item :nth-of-type(3):before {
  content: 'Roadmap';
  right: -30px;
  top: -32px;
  position: absolute;
}

.land-heading__version_item-changelog:before {
  content: 'Changelog';
  right: -30px;
  top: -32px;
  position: absolute;
}

.land-heading__version_item-changelog:after {
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  background-color: #5b6669;
  left: 24px;
  top: 50%;
}

.land-heading__version_item-changelog:hover {
  background-color: #fff;
}

.land-heading__version_item-changelog:hover:before {
  color: #fff;
}

.land-heading__version_item-changelog:hover:after {
  background-color: #fff;
}

.land-heading__version_item-version:before {
  color: #fff;
  content: 'ver 4.0';
  width: 45px;
  right: -15px;
  top: -32px;
  position: absolute;
}

.land-heading__version_item-version_inactive.land-heading__version_item-version {
  background-color: #5b6669;
}

.land-heading__version_item-version_inactive:before {
  color: #5b6669;
}

.land-heading__version_item-roadmap:before {
  content: 'Roadmap';
  right: -30px;
  top: -32px;
  position: absolute;
}

.land-heading__version_item-roadmap:after {
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  background-color: #5b6669;
  right: 24px;
  top: 50%;
}

.land-heading__version_item-roadmap:hover {
  background-color: #fff;
}

.land-heading__version_item-roadmap:hover:before {
  color: #fff;
}

.land-heading__version_item-roadmap:hover:after {
  background-color: #fff;
}

.land-heading__version_item {
  font-size: 14px;
  font-family: ProximaNovaLight;
  position: relative;
  margin-left: 70px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #5b6669;
}

.land-heading__content {
  font-family: ProximaNova, sans-serif;
  color: white;
  max-width: 830px;
  width: 100%;
  margin: 10px 0 20px;
}

.land-heading__content_title {
  letter-spacing: 2px;
  margin: 44px 0 0 0;
  font-size: 98px;
}

.land-heading__content_subtitle {
  font-family: ProximaNovaThin, sans-serif;
  font-size: 42px;
  font-weight: 100;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 50px;
}

.land-heading__cta {
  padding-bottom: 109px;
}

.land-heading__cta_button {
  border-radius: 13px;
  position: relative;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
}

.land-heading__cta_button::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "";
  height: 60px;
  width: 1000px;
  background: rgba(230, 230, 230, 0.3);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation-name: shine;
          animation-name: shine;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
          animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shine {
  0%, 30% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes shine {
  0%, 30% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.land-heading__cta_button-link {
  font-family: ProximaNovaRegular, sans-serif;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  padding: 10px 47px 10px 47px;
  background-color: #edeb2c;
}

.land-heading__cta_button-link:hover {
  background-color: #ffde5a;
}

.land-heading__go-next {
  position: absolute;
  bottom: 40px;
  width: 10px; left: calc(50% - 5px);
  height: 10px;
  background-color: transparent;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  cursor: pointer;
  -webkit-animation: arrow 2.5s infinite ease;
          animation: arrow 2.5s infinite ease;
}

@-webkit-keyframes arrow {
  0%, 100% {
    -webkit-transform: translateY(15px) rotate(-45deg);
            transform: translateY(15px) rotate(-45deg);
  }
  50%, 75% {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
  }
}

@keyframes arrow {
  0%, 100% {
    -webkit-transform: translateY(15px) rotate(-45deg);
            transform: translateY(15px) rotate(-45deg);
  }
  50%, 75% {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
  }
}

@media screen and (max-width: 768px) {
  .land-heading__version {
    width: 90%;
  }
  .land-heading__content .land-heading__content_subtitle {
    font-size: 36px;
  }
  .land-heading__content .land-heading__content_title {
    font-size: 72px;
  }
}

@media screen and (max-width: 580px) {
  .land-heading__content .land-heading__content_subtitle {
    font-size: 26px;
  }
  .land-heading__content .land-heading__content_title {
    font-size: 56px;
  }
}

@media screen and (max-width: 480px), (max-height: 480px) {
  .s-land-heading_checklist {
    background: url(../img/content/checklist/checklist_land_bg_mobile.png) no-repeat 100%;
    background-size: cover;
  }
  .land-heading__version {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .land-heading__version_item-changelog {
    margin-left: 0;
  }
  .land-heading__content .land-heading__content_title {
    font-size: 40px;
    margin-bottom: 25px;
    letter-spacing: 0;
  }
  .land-heading__content .land-heading__content_subtitle {
    line-height: 30px;
    margin-bottom: 36px;
  }
  .land-heading__cta {
    padding-bottom: 50px;
  }
}

@media screen and (max-height: 480px) {
  .land-heading__content .land-heading__content_title {
    margin: 15px;
  }
  .land-heading__content .land-heading__content_subtitle {
    margin-bottom: 15px;
  }
  .land-heading__cta {
    padding-bottom: 15px;
  }
}

@media screen and (max-height: 320px) {
  .land-heading__content .land-heading__content_title {
    margin: 3px;
  }
  .land-heading__content .land-heading__content_subtitle {
    margin-bottom: 3px;
  }
  .land-heading__cta {
    padding-bottom: 3px;
  }
}

.s-overview {
  overflow: hidden;
}

.s-overview__container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-overview__container:before {
  z-index: 10;
  left: calc(50% - 399px);
  content: url("../img/assets/modalOverview/shadow.png");
  bottom: 0;
  height: 34px;
  position: absolute;
  overflow: hidden;
  margin: auto;
}

.s-overview__container:after {
  content: '';
  left: 0;
  bottom: -34px;
  background-color: #fff;
  height: 34px;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.s-overview__title {
  color: #333333;
  font-size: 28px;
  font-family: ProximaNovaLight;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .s-overview__title {
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 480px) {
  .s-overview__title {
    font-size: 20px;
    margin-top: 50px;
  }
}

.playerMobile__container {
  display: none;
  height: 316px;
  width: 100%;
  max-width: 560px;
}

@media screen and (max-width: 650px) {
  .playerMobile__container {
    height: 54vw;
  }
}

@media screen and (max-width: 1023px) {
  .playerMobile__container {
    display: block;
  }
}

.s-overview__modal {
  position: relative;
  margin: 0 5px 0 5px;
  cursor: pointer;
  vertical-align: bottom;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.s-overview__modal:hover {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media screen and (max-width: 1023px) {
  .s-overview__modal {
    display: none;
  }
}

.s-overview__modal-link img {
  width: 100%;
  vertical-align: bottom;
}

.s-overview__frame-wrapper {
  padding-top: 56.25%;
  position: relative;
}

.s-overview__frame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.s-land-suggestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-size: cover;
}

.s-land-suggestions-background_timesheet {
  background-color: #fff;
}

.s-land-suggestions-background_checklist {
  background-color: #23352c;
}

.s-land-suggestions-background_badges {
  background-color: #fff;
}

.s-land-suggestions-background_project {
  background-color: #fff;
}

.s-land-suggestions__content {
  margin: 0;
  width: 100%;
}

.s-land-suggestions__title {
  font-family: 'Proxima Nova Light', sans-serif;
  font-size: 28px;
  color: #fff;
}

.s-land-suggestions__text {
  margin-top: 50px;
  margin-bottom: 50px;
}

.s-land-suggestions__comments_main {
  position: relative;
  width: 90%;
  margin-bottom: 65px;
}

.s-land-suggestions__comments_main::before {
  content: '';
  position: absolute;
  left: 65px;
  top: -47px;
  border: 19px solid transparent;
  border-bottom: 49px solid #fff;
}

@media screen and (max-width: 768px) {
  .s-land-suggestions__comments_main {
    margin-bottom: 20px;
  }
}

.has-success .s-land-suggestions__comments_main {
  display: none;
}

.s-comments__textarea {
  width: 98%;
  max-width: 840px;
  height: 132px;
  padding: 25px 10px 30px 20px;
  background-color: #fff;
  font-size: 16px;
  color: #545454;
  line-height: 1.2;
  border-color: #c2c2c2;
}

.s-land-comments__footer_btn {
  opacity: .9;
  color: #fff;
  border-radius: 13px;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
  width: 210px;
  border: 0 none;
  white-space: nowrap;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.s-land-comments__footer_btn:hover:enabled {
  background-color: #3caa3c;
  opacity: 1;
}

.s-land-comments__footer_btn:disabled {
  opacity: .6;
}

.btn-color_timesheet {
  background-color: #fff;
}

.btn-color_checklist {
  background-color: #2ea73f;
}

.btn-color_badges {
  background-color: #fff;
}

.btn-color_project {
  background-color: #fff;
}

.has-success .s-land-comments__footer {
  display: none;
}

@media screen and (max-width: 768px) {
  .s-comments__textarea {
    padding: 10px;
    background-position: 5px 10px;
    width: 90%;
  }
  .s-land-suggestions__content .s-land-suggestions__comments_main:before {
    top: -40px;
    border: 12px solid transparent;
    border-bottom: 34px solid #fff;
  }
}

@media screen and (max-width: 420px) {
  .s-land-suggestions__content .s-land-suggestions__comments_main:before {
    left: 20px;
  }
  .s-comments__textarea {
    width: 85%;
  }
  .land-heading__version {
    width: 88%;
  }
}
