<meta charset="utf-8">
<meta name="theme-color" content="#000000">
<title>PulseKit</title>
<link rel="icon" href="../static/img/general/pulsekit_favico_32x32.png">
<link rel="apple-touch-icon" href="../static/img/general/pulsekit_favico_57x57.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta property="og:title" content="{{title}}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{source}}">
<meta property="og:description" content="{{description}}">
<meta property="og:image" content="{{sharingLink}}">
<meta property="og:site_name" content="Pulse.kit for JIRA cloud ">

<!--[if IE 8 ]><link href="%=static=%css/main_ie8%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><![endif]-->
<!--[if IE 9 ]><link href="%=static=%css/main_ie9%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><link href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><!--<![endif]-->

<script>
    (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
</script>
<!--[if lt IE 9 ]><script src="%=static=%js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar"><![endif]-->