.s-heading 
    height: 425px
    display: flex
    justify-content: center
    align-items: center

.s-heading_timesheet
    background: url(../img/content/timesheet/timesheet_bg.png) no-repeat
    background-size: cover

.s-heading_checklist
    background: url(../img/content/checklist/checklist_bg.png) no-repeat
    background-size: cover

.s-heading_badges
    background: url(../img/content/badges/badges_bg.png) no-repeat
    background-size: cover

.s-heading_project
    background: url(../img/content/project/project_bg.png) no-repeat
    background-size: cover

.heading__content 
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    text-align: center
    color: #ffffff
    max-width: 765px
    align-items: center

.heading__content_title 
    font-family: ProximaNovaSemibold, sans-serif
    font-size: 92px
    margin: 0
    max-width: 765px

.heading__content_subtitle
    position: relative
    display: inline-table
    font-size: 38px
    font-family: ProximaNovaThin, sans-serif
    margin: 38px auto
    text-decoration: none
    color: #ffffff
    opacity: .9
    transition: transform .3s ease
    &:hover
        &:after
            content: ""
            position: absolute
            opacity: 1
            width: 100%
            height: 1px
            background-color: #fff
            bottom: -3px
            left: 0

@media screen and (max-width: 768px) 
    .s-heading
        height: 350px
    .heading__content_title 
        font-size: 72px
    
    .heading__content_subtitle 
        font-size: 24px
        margin: 24px auto

@media screen and (max-width: 544px)
    .s-heading
        height: 280px 
    .heading__content_title 
        font-size: 42px
    
    .heading__content_subtitle 
        font-size: 20px
        margin: 20px auto