<section class="s-heading {{headingBackgroundClass}}">
    <div class="heading__content">
        <h1 class="heading__content_title">{{title}}</h1>
        <a href="{{link2Landing}}" class="heading__content_subtitle">{{subtitle}}</a>
    </div>
</section>