
<div class="b-modal b-modal--comments-email b-modal--form" id="modal-comments-email">
    <div class="b-modal__wrapper">
        <div class="b-modal__content js-modal__content">
            <button class="b-modal__close js-modal__close">
                <svg xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="16px" height="16px">
                    <path fill-rule="evenodd"  fill="rgb(228, 241, 246)"
                          d="M15.999,3.015 L10.963,8.148 L15.703,12.980 L12.740,15.999 L8.000,11.168 L3.260,15.999 L0.297,12.980 L5.037,8.148 L0.001,3.015 L2.963,-0.004 L8.000,5.129 L13.036,-0.004 L15.999,3.015 Z"/>
                </svg>
            </button>

            <form class="b-modal__form b-modal-form js-form-comments-email">
                <input name="comments" class="js-field-comment" type="hidden" v-bind:value="comment">
                <header class="b-modal-form__header b-modal__header">
                    <h2 class="b-modal__title">We will certainly review your appeal</h2>
                    <div class="b-modal__subtitle">Enter email to contact you</div>
                </header>

                <main class="b-modal-form__main">
                    <div class="b-modal-form__row">

                        <label class="b-modal-form__group-input">
							<span class="b-modal-form__input-group-addon">
								<i class="b-icon b-icon--email"></i>
							</span>
                            <input name="email" type="email" class="b-modal-form__field-text js-field-email" placeholder="info@pulsekit.com" required v-model="email">
                        </label>
                    </div>

                    <div class="b-modal-form__row">
                        <label class="b-modal-form__checkbox-group">
							<span class="b-modal-form__checkbox">
								<input type="checkbox" class="b-modal-form__checkbox-control" value="yes" name="subscribe_updates" checked>
								<span class="b-modal-form__checkbox-tick"></span>
							</span>
                            <span class="b-modal-form__checkbox-text">Subscribe to updates</span>
                        </label>
                    </div>
                </main>

                <footer class="b-modal-form__footer">
                    <button class="b-btn {{buttonColorClass}}" type="submit" v-bind:disabled="!isEmailValid">Send</button>
                </footer>
            </form>

            <div class="b-modal__thanks">
                <h2 class="b-modal__title">Thank you for your message.</h2>
                <div class="b-modal__subtitle">You help us make the product better</div>
            </div>
        </div>
    </div>
</div>
