.s-land-heading
    position: relative
    height: 100%
    min-height: 100%
    text-align: center
    .l-wrap-normal
        padding: 0px 5px
    .u-flex
        flex-wrap: nowrap

.s-land-heading_checklist
    background: url(../img/content/checklist/checklist_land_bg.png) no-repeat 100%
    background-size: cover

.land-heading__version
    justify-content: flex-end
    width: 95%
    margin-top: 30px
    display: flex
    flex-direction: row
    position: relative
    color: #5b6669
    .land-heading__version_item-version
        background-color: #fff

.land-heading__version_item
    text-decoration: none
    color: #5b6669
    transition: background-color 0.25s ease
    &:before
        transition: color 0.25s ease
        padding-bottom: 40px
    &:after
        transition: background-color 0.25s ease
    :nth-of-type(1):before
        content: 'Changelog'
        left: -50%
        top: -32px
        position: absolute
    :nth-of-type(1):after, :nth-of-type(2):after
        position: absolute
        content: ''
        width: 50px
        height: 1px
        background-color: #5b6669
        right: 0
        top: 50%
    :nth-of-type(2):before
        content: 'ver 4.0'
        left: -50%
        top: -32px
        position: absolute
    :nth-of-type(3):before
        content: 'Roadmap'
        right: -30px
        top: -32px
        position: absolute

.land-heading__version_item-changelog
    &:before
        content: 'Changelog'
        right: -30px
        top: -32px
        position: absolute
    &:after
        position: absolute
        content: ''
        width: 50px
        height: 1px
        background-color: #5b6669
        left: 24px
        top: 50%
    &:hover
        background-color: #fff
        &:before
            color: #fff
        &:after
            background-color: #fff

.land-heading__version_item-version
    &:before
        color: #fff
        content: 'ver 4.0'
        width: 45px
        right: -15px
        top: -32px
        position: absolute
    

.land-heading__version_item-version_inactive
    &.land-heading__version_item-version
        background-color: #5b6669
    &:before
        color: #5b6669

.land-heading__version_item-roadmap
    &:before
        content: 'Roadmap'
        right: -30px
        top: -32px
        position: absolute
    &:after
        position: absolute
        content: ''
        width: 50px
        height: 1px
        background-color: #5b6669
        right: 24px
        top: 50%
    &:hover
        background-color: #fff
        &:before
            color: #fff
        &:after
            background-color: #fff

.land-heading__version_item
    font-size: 14px
    font-family: ProximaNovaLight
    position: relative
    margin-left: 70px
    width: 14px
    height: 14px
    border-radius: 50%
    background-color: #5b6669

.land-heading__content
    font-family: ProximaNova, sans-serif
    color: white
    max-width: 830px
    width: 100%
    margin: 10px 0 20px

.land-heading__content_title
    letter-spacing: 2px
    margin: 44px 0 0 0
    font-size: 98px

.land-heading__content_subtitle
    font-family: ProximaNovaThin, sans-serif
    font-size: 42px
    font-weight: 100
    line-height: 55px
    margin-top: 0
    margin-bottom: 50px

.land-heading__cta
    padding-bottom: 109px

.land-heading__cta_button
    border-radius: 13px
    position: relative
    text-align: center
    line-height: 40px
    overflow: hidden
    &::before
        position: absolute
        display: block
        top: 0
        left: 0
        content: ""
        height: 60px
        width: 1000px
        background: rgba(230,230,230,0.3)
        transform: rotate(-45deg)
        animation-name: shine
        animation-duration: 3s
        animation-timing-function: cubic-beizer(.17,.79,.96,.25)
        animation-iteration-count: infinite

@keyframes shine 
    0%, 30%
        left: -1000px
    100% 
        left: 100%

.land-heading__cta_button-link
    font-family: ProximaNovaRegular, sans-serif
    font-size: 18px
    color: #000
    text-decoration: none
    padding: 10px 47px 10px 47px
    background-color: #edeb2c
    &:hover
        background-color: #ffde5a

.land-heading__go-next
    position: absolute
    bottom: 40px
    width: 10px
    left: calc(50% - 5px)
    height: 10px
    background-color: transparent
    border-bottom: 3px solid #fff
    border-left: 3px solid #fff
    transform: rotate(-45deg)
    cursor: pointer
    animation: arrow 2.5s infinite ease

@keyframes arrow
    0%, 100%
        transform: translateY(15px) rotate(-45deg)
    50%, 75%
        transform: translateY(0) rotate(-45deg)

@media screen and (max-width: 768px)
    .land-heading__version
        width: 90%
    .land-heading__content
        .land-heading__content_subtitle
            font-size: 36px
        .land-heading__content_title
            font-size: 72px

@media screen and (max-width: 580px)
    .land-heading__content
        .land-heading__content_subtitle
            font-size: 26px
        .land-heading__content_title
            font-size: 56px

@media screen and (max-width: 480px), (max-height: 480px)
    .s-land-heading_checklist
        background: url(../img/content/checklist/checklist_land_bg_mobile.png) no-repeat 100%
        background-size: cover
    .land-heading__version
        margin: 0
        justify-content: center
    .land-heading__version_item-changelog
        margin-left: 0
    .land-heading__content
        .land-heading__content_title
            font-size: 40px
            margin-bottom: 25px
            letter-spacing: 0
        .land-heading__content_subtitle
            line-height: 30px
            margin-bottom: 36px
    .land-heading__cta
        padding-bottom: 50px

@media screen and (max-height: 480px)
    .land-heading__content
        .land-heading__content_title
            margin: 15px
        .land-heading__content_subtitle
            margin-bottom: 15px
    .land-heading__cta
        padding-bottom: 15px

@media screen and (max-height: 320px)
    .land-heading__content
        .land-heading__content_title
            margin: 3px
        .land-heading__content_subtitle
            margin-bottom: 3px
    .land-heading__cta
        padding-bottom: 3px
