<section class="s-land-heading {{headingBackgroundClass}}">
    <div class="l-wrap-normal u-flex">
        <div class="land-heading__version">
            <a href="changelog.html" class="land-heading__version_item land-heading__version_item-changelog"></a>
            <div class="land-heading__version_item land-heading__version_item-version"></div>
            <a href="roadmap.html" class="land-heading__version_item land-heading__version_item-roadmap"></a>
        </div>
        <div class="land-heading__content">
            <h1 class="land-heading__content_title">{{title}}</h1>
            <p class="land-heading__content_subtitle">{{subtitle}}</p>
        </div>
        <div class="land-heading__cta">
            <div class="land-heading__cta_button">
                <a href="" class="land-heading__cta_button-link">Start right now</a>
            </div>
        </div>
        <a href="#section-overview" class="land-heading__go-next"></a>
    </div>
</section>